@model IEnumerable<String[]>

@{
    ViewBag.Title = "ReporteConsolidado";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    bool isFirst = true;
    //WebGrid grid = new WebGrid(source: Model.GetEnumerator().Current);
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Reporte de Consolidado</h1>
            <div class="banner-catalog__content">Este reporte muestra la cantidad de insumos que han sido autorizados, 
            por hospital en el período entre @ViewBag.fechaInicio y @ViewBag.fechaFin</div>
        </div>
    </div>
</div>
<div class="container" style=" padding-bottom: 30px;">

    <div class="">


        <br>
        <div class="row">

            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight ">
                    <div class="form-card__content group">
                        @using (Html.BeginForm())
                        {
                            <section class="">
                            <div class="t-container">
                                <table id="tablaReporte" class="table">

                                    @foreach (var i in Model)
                                    {

                                        if (isFirst == false)
                                        {
                                            <tr>
                                                @{var total = 0;
                                                    foreach (var e in i)
                                                    {
                                                        var celda = e.AsInt(0);
                                                        <td>@e</td>
                                                        total += celda;
                                                    }
                                                    <td>@total</td>
                                                }
                                            </tr>
                                                    }
                                                    else
                                                    {
                                                        <thead>
                                                            <tr class="header">
                                                                @{foreach (var e in i)
                                                                    {
                                                                        isFirst = false;
                                                                        <th>@e<div>@e</div> </th>
                                                                    }
                                                                    <th>Total<div>Total</div> </th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                                        }

                                                                    }
                                </table>
                            </div>
                            </section>
                                                                    }
                                
                        <div class="col-md-offset-10 col-md-2" style="width: 13%">
                            @*<a href="#" onClick="$('#tablaReporte').tableExport({type:'excel',escape:'false'});">Exportar a Excel (XLS)</a>*@
                            <input id="btn_export" type="button" value="Exportar Excel" class="btn btn-success btn-round btn_export" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/tableExport.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.base64.js"></script>
    <script type="text/javascript">
        $(document).on('click', '.btn_export', function (event) {
            $('#tablaReporte').tableExport({ type: 'excel', escape: 'false' });
        });
    </script>
}
