@model IEnumerable<SIAH.Models.Registro.Registro>
@{
    ViewBag.Title = "Registros de uso de insumos";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-9">
            <h1>Mis Registros</h1>
            <div class="banner-catalog__content">Genere nuevos registros de uso y revise registros previos.</div>
        </div>
        <div class="col-lg-3">
            <div class="icon icon-primary">
                <i class="material-icons pull-right" style="font-size: 100px">receipt</i>
            </div>
        </div>
    </div>
</div>
<div id="page" style="min-height: 363px;">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="row">
            <div class=" col-sm-12">

                <div class=" col-sm-10">
                    <div class="row">
                        <div class="col-lg-11">
                            <div id="alertArea  animated zoomIn">
                                <div class="alert alert-info pq-alert animated zoomIn">
                                    <i class="fa fa-arrow-right"></i>
                                    <span>Histórico de Registros del Hospital @Session["hospital"]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="alertArea  animated zoomIn">
                                <button class="btn btn-round btn-success  btn-lg pull-right animated zoomIn" id="nuevoregistro" ">
                                    <strong class="">+ Nuevo Registro</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                <div class="form-card__content group">

                    <div class="animated zoomIn col-md-12">

                        <div class="col-md-12">
                            <hr />
                            <div id="table-container">
                                <table id="maintable" class="table table-condensed">
                                    <thead class="listado">
                                        <tr class="text-center list-group-item-info">
                                            <th class="text-center">
                                                <strong> @Html.Name("Nº Registro")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong> @Html.Name("Fecha Generación")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong>  @Html.Name("Solicitante")</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                    <tr class="" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Registros" }, Request.Url.Scheme)'">
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.destinatario)
                                        </td>
                                    </tr>
                                    }

                                </table>
                                <div id="bottom_anchor"></div>

                            </div>
                        </div>
                        <br><br>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.TextBox("idHospital", Session["hospitalId"], htmlAttributes: new { @readonly = "readonly", @type = "hidden" })

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#maintable tr td:nth-child(n)').hover(function () {
                $(this).parents('tr').attr('title', 'Ver detalle');
            });

            var diaDeHoy = new Date();

            $.ajax({
                url: '@Url.Action("cantidadPedidosPorEstado", "Pedidos")',
                type: 'GET',
                data: { fechaInicio: new Date(diaDeHoy.getFullYear() - 1, diaDeHoy.getMonth(), diaDeHoy.getDate()).toUTCString(), fechaFin: diaDeHoy.toUTCString() },
                cache: false,
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $('#estado' + (i+1)).html(result[i]);
                    }
                }
            });

            sessionStorage.setItem("User", "RespFarmacia");
            if (@ViewBag.success.ToString().ToLower() ===true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'El registro fue cargado exitosamente.'
                    }, {
                            type: 'success',
                            offset: {
                                x: 20,
                                y: 90
                            }
                        },
                    );

                }
                else {
                if (@ViewBag.validacion.ToString().ToLower()===true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'El registro no fue cargado: @ViewBag.problem '
                    }, {
                            type: 'danger',
                            offset: {
                                x: 20,
                                y: 80
                            }
                        },
                    );
                }

            }
            $(document).on('click', '#nuevoregistro', function (event) {
                event.preventDefault();
                var idHospital = $('#idHospital').val();
                location.href = "/Registros/Create?idHospital=" + idHospital;

            });

            var myNewURL = refineURL();
            //here you pass the new URL extension you want to appear after the domains '/'. Note that the previous identifiers or "query string" will be replaced.
            window.history.pushState("object or string", "Title", "/" + myNewURL);
            //Helper function to extract the URL between the last '/' and before '?'
            //If URL is www.example.com/one/two/file.php?user=55 this function will return 'file.php'
            //pseudo code: edit to match your URL settings
            function refineURL() {
                //get full URL
                var currURL = window.location.href; //get current address

                //Get the URL between what's after '/' and befor '?'
                //1- get URL after'/'
                var afterDomain = currURL.substring(currURL.lastIndexOf('/') + 1);
                //2- get the part before '?'
                var beforeQueryString = afterDomain.split("?")[0];

                return "Registros/"+beforeQueryString;
            }
            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            $("#maintable").DataTable({
                "order": [[0, "desc"]],
                "oLanguage": { "sEmptyTable": "Aún no tiene registros" }
            });;
        });

    </script>
}
