@model SIAH.Models.StockFarmacia
@{
    ViewBag.Title = "Actualizar Stock";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-12">
                <h1>Editar cantidad de stock del insumo @Html.DisplayFor(model => model.insumo.nombre)</h1>
                <div class="banner-catalog__content"> Aqui puede modificar el stock actual disponible para reaprovisionamiento.</div>
            </div>
        </div>
    </div>
    <br />

    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del Insumo</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.insumo.nombre, "Nombre Insumo", htmlAttributes: new { @class = "control-label col-sm-12 tota" })
                                    <div class="col-sm-12">
                                        @Html.TextBox("nombre", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.insumo.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.stockFarmacia, "Stock Farmacia", htmlAttributes: new { @class = "control-label col-sm-12 tota" })
                                    <div class="col-sm-12">
                                        @Html.TextBox("stockFarmacia", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.stockFarmacia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @Html.TextBoxFor(model => model.id, htmlAttributes: new { @id = "id", @class = "form-control", @readonly = "readonly", @type = "hidden" })
    @Html.TextBoxFor(model => model.hospitalId, htmlAttributes: new { @id = "hospitalId", @class = "form-control", @readonly = "readonly", @type = "hidden" })

    <div class="form-group">
        <div class="col-md-3">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
        <div class="col-md-3 ">
            @Html.ActionLink("Volver al listado", "Index", new { hospitalId = Session["hospitalId"] })
        </div>
    </div>
}



