@model IEnumerable<SIAH.Models.StockFarmacia>

@{
    ViewBag.Title = "Stock";
    String nombreHospital = ViewBag.hospital;
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>
                Listado de Insumos del Hospital @nombreHospital
            </h1>
            <div class="banner-catalog__content"> Actualice el stock de los insumos utilizados</div>
        </div>
    </div>
</div>

<div class="container" style=" padding-bottom: 30px;">
    <div class="form-horizontal">
        <br>
        @*@grid.GetHtml();*@
        <div class="row">
            <div class="col-lg-12">
                <div id="alertArea  animated zoomIn">
                    <div class="alert alert-info pq-alert  animated zoomIn">
                        <i class="fa fa-arrow-right"></i>
                        <span>Seleccione un insumo para actualizar el stock disponible</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__content group">
                            <div class="animated zoomIn">
                                <div class="col-md-12">
                                    <hr />
                                    <div id="table-container">
                                        <table id="maintable" class="table table-condensed">
                                            <thead class="listado">
                                                <tr>
                                                    <th class="text-center">
                                                        <strong> @Html.Name("Nombre de Insumo")</strong>
                                                    </th>
                                                    <th class="text-center">
                                                        <strong> @Html.Name("Cantidad Disponible")</strong>
                                                    </th>
                                                    <th class="text-center">
                                                        <strong> @Html.Name("Acciones")</strong>
                                                    </th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.insumo.nombre)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.stockFarmacia)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Actualizar Stock", "Edit", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                }
                                        </table>
                                        <div id="bottom_anchor"></div>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                            <br />
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>