@model Tuple<List<SIAH.Models.Pedidos.Pedido>, List<SIAH.Models.Remitos.Remito>>

@{
    ViewBag.Title = "Listado de Pedidos";
    //WebGrid grid = new WebGrid(Model);
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}


<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Control de Stock</h1>
            <div class="banner-catalog__content">
                Aquí encontrara el listado de pedidos con sus remitos correspondientes.
            </div>
        </div>
    </div>
</div>
<div class="container" style=" padding-bottom: 30px;">
    <div class="form-horizontal">
        <br>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                    <div class="form-card__content group">

                        <div id="alertArea  animated zoomIn">
                            <div class="alert alert-info pq-alert  animated zoomIn">
                                <i class="fa fa-arrow-right"></i>
                                <span>Verifique el listado de pedidos y cargue el remito correspondiente</span>
                            </div>
                        </div>

                        <div id="table-container">
                            <table id="maintable" class="table table-condensed">
                                <thead>
                                    <tr class="list-group-item-info" style="border-bottom: solid">
                                        <th class="text-center">
                                            <strong> @Html.Name("Nº Pedido")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong> @Html.Name("Fecha de Entrega")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong> @Html.Name("Hospital")</strong>
                                        </th>

                                        <th class="text-center">
                                            <strong>  @Html.Name("Estado Remito")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>  @Html.Name("Acciones")</strong>
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Item1)
                                {
                                    bool existeRemito = false;
                                    foreach (var rem in Model.Item2)
                                    {
                                        if (rem.pedidoId == item.id)
                                        {
                                            existeRemito = true;
                                            switch (rem.estadoId)
                                            {
                                                case 1:

                                                    <tr class="list-group-item-info" onclick="location.href='@Url.Action("ControlPedidoRemito", null, new { id = item.id, controller = "Remitos" }, Request.Url.Scheme)'">


                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaEntrega)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">@Html.Label("Pendiente")</td>

                                                        <td class="text-center">
                                                            @Html.ActionLink("Controlar Remito", "ControlPedidoRemito", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                    break;
                                                case 2:

                                                    <tr class="list-group-item-success" onclick="location.href='@Url.Action("ControlPedidoRemito", null, new { id = item.id, controller = "Remitos" }, Request.Url.Scheme)'">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaEntrega)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">@Html.Label("Impactado")</td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver Detalle", "ControlPedidoRemito", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                    break;
                                                case 3:

                                                    <tr class="list-group-item-danger" onclick="location.href='@Url.Action("ControlPedidoRemito", null, new { id = item.id, controller = "Remitos" }, Request.Url.Scheme)'">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaEntrega)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">@Html.Label("Reclamado")</td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver Detalle", "ControlPedidoRemito", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                    break;

                                            }
                                            break;
                                        }
                                    }
                                }
                            </table>
                            <div id="bottom_anchor"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {

            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            $("#maintable").DataTable({ "oLanguage": { "sEmptyTable": "No hay remitos cargados." } });;
            sessionStorage.setItem("From", "Remitos");
        });



    </script>
}


