@model Tuple<List<SIAH.Models.Pedidos.Pedido>, List<SIAH.Models.Remitos.Remito>>

@{
    ViewBag.Title = "Listado de Pedidos";
    //WebGrid grid = new WebGrid(Model);
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}


<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Control de Stock diario</h1>
            <div class="banner-catalog__content">
                Listado de Pedidos.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-card form-card--purple form-card--tight  animated zoomIn ">
            <div class="form-card__content group">
                <div class="form-group">
                    @*<h3 class="col-md-7"><strong>Listado de Insumos</strong></h3>
                        <div class="row">*@

                    <div id="contenedor" class="col-md-12">

                        <div id="table-container">
                            <table id="maintable" class="table table-condensed">
                                <thead>
                                    <tr class="list-group-item-info" style="border-bottom: solid">
                                        <th class="text-center">
                                            <strong> @Html.Name("Nº Pedido")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong> @Html.Name("Fecha de Entrega")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong> @Html.Name("Hospital")</strong>
                                        </th>

                                        <th class="text-center">
                                            <strong>  @Html.Name("Estado Remito")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>  @Html.Name("Acciones")</strong>
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Item1)
                                {



                                    @*@if (Model.Item2.Count == 0)
                                        {
                                            @Html.ActionLink("Cargar Remito", "Create", new { id = item.id })
                                        }
                                        else*@
                                bool existeRemito = false;
                                foreach (var rem in Model.Item2)
                                {
                                    if (rem.pedidoId == item.id)
                                    {
                                        existeRemito = true;
                                        switch (rem.estadoId)
                                        {
                                            case 1:

                                                <tr class="list-group-item-warning" data-href="@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)">


                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaEntrega)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                    </td>
                                                    <td class="text-center">@Html.Label("Pendiente")</td>

                                                    <td class="text-center">
                                                        @Html.ActionLink("Controlar Remito", "ControlPedidoRemito", new { id = item.id })
                                                    </td>
                                                </tr>
                                                    break;
                                                case 2:

                                                    <tr class="list-group-item-success">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaEntrega)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">@Html.Label("Impactado")</td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver Detalle", "ControlPedidoRemito", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                    break;
                                                case 3:

                                                    <tr class="list-group-item-danger">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaEntrega)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">@Html.Label("Reclamado")</td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver Detalle", "ControlPedidoRemito", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                    break;

                                            }
                                            break;
                                        }
                                    }


                                    if (!existeRemito)
                                    {
                                        <tr onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.id)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.fechaEntrega)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.hospital.nombre)
                                            </td>
                                            <td class="text-center">@Html.Label("Sin Remito")</td>

                                            <td class="text-center">
                                                @Html.ActionLink("Cargar Remito", "Create", new { id = item.id })
                                            </td>
                                            

                                        </tr>

                                    }
                                }
                            </table>
                            <div id="bottom_anchor"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {

            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            $("#maintable").DataTable({
                "order": [[0, "desc"]]
            });;
        });



    </script>
}


