@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.title = "Home Director de Oficina";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-md-12">
            <h1><strong>Dashboard - Director de Área</strong></h1>
            <div class="banner-catalog__content">Como director tiene acceso a diversas funcionalidades detalladas en ésta página.</div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
                <div id="alertArea  animated zoomIn">
                    <div class="alert alert-info pq-alert  degradado animated zoomIn">
                        <i class="fa fa-arrow-right"></i>
                        <span class="tituloPanel">Gestión de pedidos</span>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <h4 class="info-title">Reportes</h4>
                                <p>Visualice reportes de pedidos actualizados en tiempo real.</p>
                                <br />
                                <a id="reporte" class="btn btn-round btn-softPurple">Ir a Reportes</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">send</i>
                                </div>
                                <h4 class="info-title">
                                    <a>Administrar Pedidos</a>
                                </h4>
                                <p>Controle y autorice pedidos de insumos.</p>
                                <br />
                                <br />
                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("Listado", "Pedidos")'">Ir a Pedidos</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">report</i>
                                </div>
                                <h4 class="info-title">
                                    <a href="">Reclamos</a>
                                </h4>
                                <p>Gestione, asigne y vea el historial de los reclamos realizados sobre pedidos de insumos.</p>
                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("ListadoReclamos", "Reclamos")'">Ir a Reclamos</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="alertArea  animated zoomIn">
                    <div class="alert alert-info pq-alert  degradado animated zoomIn">
                        <i class="fa fa-arrow-right tituloPanel"></i>
                        <span class="tituloPanel">Gestión de inventario</span>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">equalizer</i>
                                </div>
                                <h4 class="info-title">
                                    <a>Control de Stock</a>
                                </h4>
                                <p>Controle las diferencias entre el stock en OCASA y el stock del sistema.</p>
                                <br />
                                <br />

                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("ControlStock", "Insumos")'">Ir a control de Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="material-icons">view_module</i>
                                </div>
                                <h4 class="info-title">
                                    <a>Stock de Insumos</a>
                                </h4>
                                <p>Gestione los insumos disponibles para pedidos con la posibilidad de controlar el stock disponible.</p>
                                <br/>
                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("StockInsumos", "Insumos")'">Ir a la tabla de Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">work</i>
                                </div>
                                <h4 class="info-title">
                                    <a>Administrar compras</a>
                                </h4>
                                <p>Cargue remitos de compra de insumos. Requiere un documento de compra en cierto formato.</p>
                                <br />
                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("Index", "Compras")'">Ir a Compras</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="alertArea  animated zoomIn">
                    <div class="alert alert-info pq-alert  degradado animated zoomIn">
                        <i class="fa fa-arrow-right"></i>
                        <span class="tituloPanel">Gestión de usuarios</span>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="material-icons">person</i>
                                </div>
                                <h4 class="info-title">
                                    <a href="">Usuarios</a>
                                </h4>
                                <p>Gestione los usuarios que tienen acceso al sistema, cada rol tiene los permisos correspondientes.</p>
                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("Index", "Account")'">Ir a Usuarios</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animated zoomIn">
                    <div class="card card-project">

                        <div class="content text-center">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">local_hospital</i>
                                </div>
                                <h4 class="info-title">
                                    <a href="">Hospitales</a>
                                </h4>
                                <p>Puede visualizar y editar la información de cada hospital.</p>
                                <br />
                                <div class="btn btn-round btn-softPurple" onclick="location.href='@Url.Action("Index", "Hospitales")'">Ir a Hospitales</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if (@ViewBag.success.ToString().ToLower() ===true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'La actualizacion de stock fue realizada exitosamente.'
                    }, {
                            type: 'success',
                            offset: {
                                x: 20,
                                y: 90
                            }
                        },
                    );

                }
                else {
                if (@ViewBag.validacion.ToString().ToLower()===true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'Hubo un error en la actualizacion: @ViewBag.problem '
                    }, {
                            type: 'danger',
                            offset: {
                                x: 20,
                                y: 80
                            }
                        },
                    );
                }

            }
            var myNewURL = refineURL();
            //here you pass the new URL extension you want to appear after the domains '/'. Note that the previous identifiers or "query string" will be replaced.
            window.history.pushState("object or string", "Title", "/" + myNewURL);
            //Helper function to extract the URL between the last '/' and before '?'
            //If URL is www.example.com/one/two/file.php?user=55 this function will return 'file.php'
            //pseudo code: edit to match your URL settings
            function refineURL() {
                //get full URL
                var currURL = window.location.href; //get current address

                //Get the URL between what's after '/' and befor '?'
                //1- get URL after'/'
                var afterDomain = currURL.substring(currURL.lastIndexOf('/') + 1);
                //2- get the part before '?'
                var beforeQueryString = afterDomain.split("?")[0];

                return "Home/" + beforeQueryString;
            }
        });

        $(document).on('click', '#reporte', function (event)
        {
            event.preventDefault();
            var url = '@Url.Action("ReporteConsolidado", "DetallesPedido", new { fechaInicio = "START" , fechaFin = "END" })';

            var nd = new Date();
            nd.setDate(nd.getDate() - 30); // minus the date
            var month = nd.getUTCMonth() + 1; //months from 1-12
            var day = nd.getUTCDate();
            var year = nd.getUTCFullYear();
            start = year + "-" + month + "-" + day;

            var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1; //months from 1-12
            var day = dateObj.getUTCDate();
            var year = dateObj.getUTCFullYear();
            end = year + "-" + month + "-" + day;

            url = url.replace("START", start);
            url = url.replace("END", end);
            url = url.replace("amp;", "");
            location.href = url;
            });
    </script>
}
