@model SIAH.Models.UserAccount

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    String error = ViewBag.error;
}
<script type="text/javascript">
    window.addEventListener("load", function () {
        $('#myModal').modal({ show: true });
    })

</script>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../Content/img/back.jpg'); padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="title">Bienvenido a SIAH</h1>
                    <h4>
                        SIAH es una plataforma web que permite gestionar los pedidos de la oficina de autorizaciones hospitalarias del Ministerio de Salud
                        de la provincia de Córdoba.
                    </h4>
                    <br />
                </div>
                <div class="col-md-5">
                    <div class="card card-signup animate zoomIn">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="header header-primary text-center">
                                <h3>Iniciar Sesión</h3>
                            </div>
                            <div class="content">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contraseña", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.password, error, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="footer text-center">
                                <input type="submit" value="Ingresar" class="btn btn-round btn-primary" />
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2 class="title">Sistema de Información de Autorizaciones Hospitalarias</h2>
                        <h5 class="description">Las siguientes funcionalidades fueron desarrolladas por nuestros expertos para mejorar su experiencia con la oficina.</h5>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="material-icons">send</i>
                                </div>
                                <h4 class="info-title">Pedidos</h4>
                                <p>Los responsables de farmacia de cada hospital pueden generar pedidos de insumos para su posterior autorización.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title">Autorizaciones</h4>
                                <p>
                                    Los encargados de la oficina de autorizaciones hospitalarias pueden autorizar la cantidad de insumos que enviarán
                                    al hospital.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="material-icons">report</i>
                                </div>
                                <h4 class="info-title">Reclamos</h4>
                                <p>El sistema cuenta con un sistema de generación y resolución de reclamos para los pedidos.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="material-icons">description</i>
                                </div>
                                <h4 class="info-title">Reportes</h4>
                                <p>Existe la posibilidad de generar reportes que ayudarán a la toma de decisiones, y mejorar el cronograma de envíos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@if (ViewBag.success == true)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="alert alert-success">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">check</i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <strong>EL PEDIDO FUE ENVIADO EXITOSAMENTE.</strong>
            </div>
        </div>
    </div>
}

else
if (ViewBag.success == false)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="alert alert-danger">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <strong>Ocurrió un Error inesperado: </strong> @ViewBag.problem <strong> (No se envió el pedido) </strong>
            </div>
        </div>
    </div>
}