@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Inicio Responsable Autorizacion";
}
<div class="banner-catalog1 jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 class="display-4">Responsable de Autorización</h1>
        <p class="lead">En este menú encontrará sus funcionalidades de Autorización</p>
    </div>
</div>
<div class="container" style="padding-bottom: 30px;">


    <div class="row" style="display:block">
        <div class="col-sm-12">

            <div class="col-sm-3 animated zoomIn view overlay zoom " onclick="location.href='@Url.Action("Listado", "Pedidos")'">
                <div class="card card-project col myhover hover-pointer">
                    <div class="content text-center">
                        <div class="info" style="padding-bottom: 9px;">
                            <div class="icon icon-success">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title">
                                <a href="../Pedidos/Listado">Autorizaciones</a>
                            </h4>
                            <p>Autorice los pedidos de los hospitales y realice la carga en el sistema de envios de Ocasa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 animated zoomIn view overlay zoom " onclick="location.href='@Url.Action("ListadoPedidos", "Remitos")'">
                <div class="card card-project col myhover hover-pointer">

                    <div class="content text-center">
                        <div class="info">
                            <div class="icon icon-info">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="info-title">
                                <a href="../Remitos/ListadoPedidos">Remitos</a>
                            </h4>
                            <p>Revise los remitos de envíos de Ocasa para llevar un control de los mismos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 animated zoomIn view overlay zoom " onclick="location.href='@Url.Action("ListadoReclamos", "Reclamos")'">
                <div class="card card-project col myhover hover-pointer">

                    <div class="content text-center">
                        <div class="info" style="padding-bottom: 9px;">
                            <div class="icon icon-danger">
                                <i class="material-icons">report</i>
                            </div>
                            <h4 class="info-title">
                                <a href="">Reclamos</a>
                            </h4>
                            <p>Gestione, asigne, y vea el historial de los reclamos realizados sobre pedidos de insumos</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 animated zoomIn view overlay zoom " onclick="location.href='@Url.Action("OcasaInventario", "Insumos")'">
                <div class="card card-project col myhover hover-pointer">

                    <div class="content text-center">
                        <div class="info" style="padding-bottom: 23px;">
                            <div class="icon icon-danger">
                                <img class="pull-center" src="~/Content/img/ocasa.png" style="max-height:100px; max-width:200px; margin-top:20px;" />
                            </div>
                            <h4 class="info-title">Gestionar Stock OCASA</h4>
                            <p>Lleve un control de inventario de los insumos disponibles en OCASA.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="display:block">
        <div class="col-sm-12">

            <div class="col-sm-3 animated zoomIn view overlay zoom " onclick="location.href='@Url.Action("ReporteStockFarmacias", "Reportes")'">
                <div class="card card-project col myhover hover-pointer">

                    <div class="content text-center">
                        <div class="info">
                            <div class="icon icon-warning">
                                <i class="material-icons">inventory_2</i>
                            </div>
                            <h4 class="info-title">Stocks Hospitales</h4>
                            <p>Visualice los stocks disponibles de farmacias</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 animated zoomIn view overlay zoom " onclick="location.href='@Url.Action("Presupuestos", "Hospitales")'">
                <div class="card card-project col myhover hover-pointer">

                    <div class="content text-center">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">paid</i>
                            </div>
                            <h4 class="info-title">Presupuestos hospitales</h4>
                            <p>Visualice los presupuestos disponibles de hospitales.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
    </script>
}
