@model IEnumerable<SIAH.Models.Localidad>

@{
    ViewBag.Title = "Localidades";
}

<h2>Localidades</h2>

<p>
    @Html.ActionLink("Crear nueva Localidad", "Create")
</p>
<table class="table table-hover table-condensed">
    <tr>
        <th>
            Nombre
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
