@model IEnumerable<SIAH.Models.UserAccount>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Listado de usuarios</h2>

<p>
    @Html.ActionLink("Registrar nuevo usuario", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Name("Nombre de Usuario")
        </th>
        <th>
            @Html.Name("Apellido")
        </th>
        <th>
            @Html.Name("Email")
        </th>
        <th>
            @Html.Name("Password")
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>
