@using SIAH.Models.Enums
@model SIAH.Models.UserAccount

@{
    ViewBag.Title = "Modificar Contraseña";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-9">
                <h1>Cambiar contraseña</h1>
                <div class="banner-catalog__content">Modifique su contraseña.</div>
            </div>
            <div class="col-lg-3">
                <div class="icon icon-info">
                    <i class="material-icons pull-right" style="font-size: 100px">person</i>
                </div>
            </div>
        </div>
    </div>
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title  purple-header">
                            <div class="alert-icon">
                                <i class="material-icons">add</i>
                                <strong>Información del usuario</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.password, "Nueva contraseña", htmlAttributes: new { @class = "control-label col-md-3", @style = "margin-bottom: 30px" })
                                        <div class="col-md-7" style="display: flex; align-items: center">
                                            <input id="password" type="password" autocomplete="new-password" class="form-control text-box single-line password" pattern=".{4,}" name="password" required title="4 caracteres minimo">
                                            <i toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password" style="margin: 0px"></i>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.confirmPassword, "Confirmar contraseña", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-7" style="display: flex; align-items: center">
                                            <input id="confirmPassword" type="password" class="form-control text-box single-line password" pattern=".{4,}" name="confirmPassword" required>
                                            <i toggle="#confirmPassword" class="fa fa-fw fa-eye field-icon toggle-password" style="margin: 0px"></i>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" id="actualizar" value="Actualizar contraseña" class="btn btn-round btn-success pull-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <input type="button" style="margin-top: 20px;" id="volver" value="Volver al inicio" class="btn pull-left btn-primary" />
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#password, #confirmPassword').on('keyup', function (event) {
                var confirmPassword = document.getElementById("confirmPassword");
                var password = document.getElementById("password");

                if (confirmPassword.value != password.value) {
                    confirmPassword.setCustomValidity("Las contraseñas no coinciden");
                } else {
                    confirmPassword.setCustomValidity("");
                }
            });

            $('#volver').on('click', function (event) {
                Swal.fire({
                    title: '¿Está seguro que desea volver?',
                    text: "Cualquier cambio realizado se perderá",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: "#28a745",
                    confirmButtonText: 'Aceptar',
                    cancelButtonColor: "#dc3545",
                    cancelButtonText: 'Cancelar',
                    showCloseButton: true,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        location.href = '/Home/@Session["rol"].ToString()';
                    }
                });
            });

            $(".toggle-password").click(function () {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });
    </script>
}