@model SIAH.Models.UserAccount

@{
    ViewBag.Title = "Registro de Usuario";
}

<h2>Registro de Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cuenta de usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Messagge != null)
        {
            <div class="form-group">
                <div class="col-md-10">@ViewBag.Message </div>
            </div>
        }
        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rolID, "Asignar un Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rolID", null, htmlAttributes: new { @class = "form-control", @onchange = "updateInput()" })
                @Html.ValidationMessageFor(model => model.rolID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="divHospital" class="form-group">
            @Html.LabelFor(model => model.hospitalID, "Asignar un Hospital", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("hospitalID", null, "--Seleccione un hospital--", htmlAttributes: new { @class = "form-control" })
                <span class="text-danger">@ViewBag.HospitalRequired</span>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirmar contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear usuario" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a inicio", "../Home/Index")
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready( function() {
            document.getElementById("divHospital").style.display = "none";
            updateInput();
        })

        function updateInput() {
            if ($("#rolID option:selected").text().localeCompare("RespFarmacia") == 0) {
                document.getElementById("divHospital").setAttribute("style", "display: inline");
            }
            else {
                $("#hospitalID").val('');
                document.getElementById("divHospital").setAttribute("style", "display: none");
            }
        }
    </script>
}