@model IEnumerable<SIAH.Models.Compras.Compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}


@using (Html.BeginForm("Index", "Compras", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-9">
                <h1>Remitos de Compra Cargados</h1>
                <div class="banner-catalog__content">Controle los remitos de compra cargados</div>
            </div>
            <div class="col-lg-3">
                <div class="icon icon-success">
                    <i class="material-icons pull-right" style="font-size: 100px">work</i>
                </div>
            </div>
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <div class="container" style=" padding-bottom: 30px;">
        <div class="form-horizontal">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class=" col-sm-10">
                        <div class="row">
                            <div class="col-lg-11">
                                <div id="alertArea  animated zoomIn">
                                    <div class="alert alert-info pq-alert animated zoomIn">
                                        <i class="fa fa-arrow-right"></i>
                                        <span>Verifique el listado de compras y verifique el detalle de cada compra</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="alertArea  animated zoomIn">
                                    <button class="btn btn-round btn-success  btn-lg pull-right animated zoomIn" type="button" onclick="location.href='@Url.Action("CargarCompra", "Compras", null)'">
                                        <strong>Cargar compra</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__content group">

                            <div id="table-container">
                                <table id="maintable" class="table table-condensed">
                                    <thead>
                                        <tr class="list-group-item-info" style="border-bottom: solid">
                                            <th class="text-center">Número de Compra</th>
                                            <th class="text-center">N° Comprobante</th>
                                            <th class="text-center">Fecha de Compra</th>
                                            <th class="text-center">Fecha de Entrega</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr onclick="location.href='@Url.Action("Details", "Compras", new { id = item.id }, Request.Url.Scheme)'" title="Ver detalle">
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.id)
                                                </td>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.numeroComprobante)
                                                </td>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.fechaCargaCompra)
                                                </td>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.fechaEntregaEfectiva)
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {

            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            $("#maintable").DataTable({
                "order": [[0, "desc"]],
                "oLanguage": { "sEmptyTable": "No hay compras cargadas." },
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                } });;
            sessionStorage.setItem("From", "Compras");

            if (@ViewBag.success.ToString().ToLower() === true) {
                $.notify({
                    title: '<strong>Aviso!</strong><br/>',
                    message: 'Compra impactada correctamente.'
                }, {
                    type: 'success',
                    offset: {
                        x: 20,
                        y: 90
                    }
                },
                );

            }
            else {
                if (@ViewBag.validacion.ToString().ToLower()=== true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'Hubo un error en la carga de la compra.'
                    }, {
                        type: 'danger',
                        offset: {
                            x: 20,
                            y: 80
                        }
                    },
                    );
                }
            }
        });



    </script>
}