@model IEnumerable<String[]>

@{
    ViewBag.Title = "ReporteConsolidado";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    bool isFirst = true;
    //WebGrid grid = new WebGrid(source: Model.GetEnumerator().Current);
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Reporte de Consolidado</h1>
            <div class="banner-catalog__content">
                Este reporte muestra la cantidad de insumos que han sido autorizados,
                por cada hospital
            </div>
        </div>
    </div>
</div>
<br />

<div class="container" style=" padding-bottom: 30px;">

    <div class="form-horizontal ">

        <div class="row">
            <div class="col-md-4">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn ">
                    <div class="form-card__title info-header">
                        <div class="alert-icon">
                            <i class="material-icons">date_range</i>
                            <strong>Periodo de Reporte</strong>
                        </div>
                    </div>

                    <div class="form-card__content group">
                        <div class="form-group text-center">
                            <h4 style="margin-top:0px"> Insumos autorizados del: <br /><strong> @ViewBag.fechaInicio</strong> al<strong> @ViewBag.fechaFin</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="det">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                    <div class="form-card__title purple-header">
                        <div class="alert-icon">
                            <i class="material-icons">autorenew</i>
                            <strong>Generar nuevo reporte</strong>
                        </div>
                    </div>
                    <div class="form-card__content group">

                        <div class="form-group">
                            <div class="col-sm-4 ">
                                Desde:
                                <input type="date" id="inicio" />
                            </div>
                            <div class="col-sm-4 ">
                                Hasta:
                                <input type="date" id="fin" />
                            </div>



                            <div class="col-sm-4">
                                <br />
                                <a id="reporte" class="btn btn-round btn-success" style="vertical-align:bottom">Generar Reporte</a><br />
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        <br>
        <div class="row">

            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                    <div class="form-card__content group">



                        @using (Html.BeginForm())
                        {

                            <section class="">
                                <div class="t-container">
                                    <table id="tablaReporte" class="table1">

                                        @foreach (var i in Model)
                                        {

                                            if (isFirst == false)
                                            {
                                                <tr>
                                                    @{var total = 0;
                                                        foreach (var e in i)
                                                        {
                                                            var celda = e.AsInt(0);
                                                            if (e.AsInt(1) == 0)
                                                            {

                                                                <td class="v text-center"></td>
                                                            }
                                                            else
                                                            {
                                                                <td class="v text-center">@e</td>
                                                            }

                                                            total += celda;
                                                        }
                                                        if (total != 0)
                                                        {
                                                            <td class="v  text-center" style="font-size: large"><strong>@total</strong></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="v  text-center"></td>
                                                        }


                                                    }
                                                </tr>
                                                        }
                                                        else
                                                        {
                                                            <thead>
                                                                <tr class=" v">
                                                                    @{foreach (var e in i)
                                                                        {
                                                                            isFirst = false;
                                                                            <th class="v  text-center"><strong>@e</strong></th>
                                                                        }
                                                                        <th class="v  text-center">Total</th>
                                                                    }
                                                                </tr>
                                                            </thead>
                                                                            }

                                                                        }
                                    </table>
                                </div>
                            </section>

                                                                        }
                        <br />
                        <div class=" col-md-12 pull-right">
                            @*<a href="#" onClick="$('#tablaReporte').tableExport({type:'excel',escape:'false'});">Exportar a Excel (XLS)</a>*@
                            <input id="btn_export" type="button" value="Exportar Excel" class="btn btn-success btn-round btn_export" onClick="$('#tablaReporte').tableExport({type:'excel',escape:'false'});"/>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/tableExport.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.base64.js"></script>
    <script type="text/javascript">
        $(document).on('click', '#reporte', function (event)
        {
            event.preventDefault();
            var url = '@Url.Action("ReporteConsolidado", "Reportes", new { fechaInicio = "START" , fechaFin = "END" })';

            url = url.replace("START", $("#inicio").val());
            url = url.replace("END", $("#fin").val());
            url = url.replace("amp;", "");
            location.href = url;
        });
    </script>


}
