
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Control de Stock";
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><strong> Confirmación!</strong></h4>
            </div>
            <div class="modal-body text-center">
                <strong>
                    ¿Desea actualizar el stock insumos en la base de datos? <br />
                </strong>
                Recuerde que no se podran recuperar los valores anteriores.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                <button id="yes" name="yes" type="button" class="btn btn-info btn-simple" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Control de Stock diario</h1>
            <div class="banner-catalog__content">
                Controle el stock propio con el de Ocasa para corroborar cantidades y solucionar inconsistencias.
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container" style=" padding-bottom: 30px;">

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                    <div class="form-card__content group">
                        <div class="form-group">
                            @*<h3 class="col-md-7"><strong>Listado de Insumos</strong></h3>
                                <div class="row">*@

                            <div id="contenedor" class="col-md-12">

                                <div id="table-container">
                                    <table id="maintable" class="table table-condensed">
                                        <thead>
                                            <tr class="list-group-item-info" style="border-bottom: solid">
                                                <th class="text-center">
                                                    @Html.Name("Id Insumo")
                                                </th>
                                                <th class="text-center">
                                                    @Html.Name("Nombre")
                                                </th>
                                                <th class="text-center">
                                                    @Html.Name("Tipo")
                                                </th>
                                                <th class="text-center">
                                                    @Html.Name("Stock Fisico SIAH")
                                                </th>
                                                <th class="text-center">
                                                    @Html.Name("Stock Fisico Ocasa")
                                                </th>
                                                <th class="text-center">
                                                    @Html.Name("Diferencia")
                                                </th>
                                                <th class="text-center">
                                                    @Html.Name("Porcentaje Error")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in ViewBag.insumos)
                                                {
                                                    int p;
                                                    int diferencia = 0;
                                                    int stockOcasa = item.GetType().GetProperty("stockOcasa").GetValue(item, null);
                                                    int stock = item.GetType().GetProperty("stock").GetValue(item, null);
                                                    int id = item.GetType().GetProperty("id").GetValue(item, null);
                                                    String tipo = item.GetType().GetProperty("tipo").GetValue(item, null);
                                                    String nombre = item.GetType().GetProperty("nombre").GetValue(item, null);
                                                    diferencia = Math.Abs(stockOcasa - stock);
                                                    if (diferencia == 0) { break; }
                                                    if (stock != 0 && stockOcasa != 0) { p = diferencia * 100 / stock; }
                                                    else { p = diferencia; }

                                                    if (p < 5)
                                                    {


                                                        <tr class="text-center list-group-item-success">
                                                            <td>
                                                                @id
                                                            </td>
                                                            <td>
                                                                @nombre
                                                            </td>
                                                            <td>
                                                                @tipo
                                                            </td>

                                                            <td>
                                                                @stock
                                                            </td>
                                                            <td>
                                                                @stockOcasa

                                                            </td>

                                                            <td>

                                                                @diferencia

                                                            </td>
                                                            <td>
                                                                @p %
                                                            </td>

                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        if (p < 15)
                                                        {
                                                            <tr class="text-center list-group-item-warning">
                                                                <td>
                                                                    @id
                                                                </td>
                                                                <td>
                                                                    @nombre
                                                                </td>
                                                                <td>
                                                                    @tipo
                                                                </td>

                                                                <td>
                                                                    @stock
                                                                </td>
                                                                <td>
                                                                    @stockOcasa

                                                                </td>
                                                                <td>

                                                                    @diferencia

                                                                </td>
                                                                <td>
                                                                    @p %
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr class="text-center list-group-item-danger">
                                                                <td>
                                                                    @id
                                                                </td>
                                                                <td>
                                                                    @nombre
                                                                </td>
                                                                <td>
                                                                    @tipo
                                                                </td>

                                                                <td>
                                                                    @stock
                                                                </td>
                                                                <td>
                                                                    @stockOcasa

                                                                </td>
                                                                <td>

                                                                    @diferencia

                                                                </td>
                                                                <td>
                                                                    @p %
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }

                                            @*<tr class="empty well text-center">
                                                    <td colspan="6">Aun no se han agregado insumos</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                    <div id="bottom_anchor"></div>
                                </div>

                                @*<input id="btn_export" type="button" value="Exportar Excel" class="btn btn-info btn-round btn_export" onClick="$('#contenedor').tableExport({type:'excel',escape:'false'});" />*@

                                <div class="pull-right">
                                    <input id="btn_pisar" type="button" value="Generar Reclamo a Ocasa" class="btn btn-danger btn-round" data-toggle="modal" data-target="#myModal" />

                                </div>

                            </div>
                            <table id="table2export" style="visibility:collapse">
                                <thead>
                                    <tr class="list-group-item-info" style="border-bottom: solid">
                                        <th class="text-center">
                                            @Html.Name("Id Insumo")
                                        </th>
                                        <th class="text-center">
                                            @Html.Name("Nombre")
                                        </th>
                                        <th class="text-center">
                                            @Html.Name("Tipo")
                                        </th>
                                        <th class="text-center">
                                            @Html.Name("Stock Fisico SIAH")
                                        </th>
                                        <th class="text-center">
                                            @Html.Name("Stock Fisico Ocasa")
                                        </th>
                                        <th class="text-center">
                                            @Html.Name("Diferencia")
                                        </th>
                                        <th class="text-center">
                                            @Html.Name("Porcentaje Error")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.insumos)
                                        {
                                            int p;
                                            int diferencia = 0;
                                            int stockOcasa = item.GetType().GetProperty("stockOcasa").GetValue(item, null);
                                            int stock = item.GetType().GetProperty("stock").GetValue(item, null);
                                            int id = item.GetType().GetProperty("id").GetValue(item, null);
                                            String tipo = item.GetType().GetProperty("tipo").GetValue(item, null);
                                            String nombre = item.GetType().GetProperty("nombre").GetValue(item, null);
                                            diferencia = Math.Abs(stockOcasa - stock);
                                            if (diferencia == 0) { break; }
                                            if (stock != 0 && stockOcasa != 0) { p = diferencia * 100 / stock; }
                                            else { p = diferencia; }

                                            if (p < 5)
                                            {


                                                <tr class="text-center list-group-item-success">
                                                    <td>
                                                        @id
                                                    </td>
                                                    <td>
                                                        @nombre
                                                    </td>
                                                    <td>
                                                        @tipo
                                                    </td>

                                                    <td>
                                                        @stock
                                                    </td>
                                                    <td>
                                                        @stockOcasa

                                                    </td>

                                                    <td>

                                                        @diferencia

                                                    </td>
                                                    <td>
                                                        @p %
                                                    </td>

                                                </tr>
                                            }
                                            else
                                            {
                                                if (p < 15)
                                                {
                                                    <tr class="text-center list-group-item-warning">
                                                        <td>
                                                            @id
                                                        </td>
                                                        <td>
                                                            @nombre
                                                        </td>
                                                        <td>
                                                            @tipo
                                                        </td>

                                                        <td>
                                                            @stock
                                                        </td>
                                                        <td>
                                                            @stockOcasa

                                                        </td>
                                                        <td>

                                                            @diferencia

                                                        </td>
                                                        <td>
                                                            @p %
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="text-center list-group-item-danger">
                                                        <td>
                                                            @id
                                                        </td>
                                                        <td>
                                                            @nombre
                                                        </td>
                                                        <td>
                                                            @tipo
                                                        </td>

                                                        <td>
                                                            @stock
                                                        </td>
                                                        <td>
                                                            @stockOcasa

                                                        </td>
                                                        <td>

                                                            @diferencia

                                                        </td>
                                                        <td>
                                                            @p %
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }

                                    @*<tr class="empty well text-center">
                                            <td colspan="6">Aun no se han agregado insumos</td>
                                        </tr>*@
                                </tbody>
                            </table>
                            <div id="bottom_anchor"></div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
            @section Scripts{
                <script type="text/javascript" src="~/Scripts/tableExport.js"></script>
                <script type="text/javascript" src="~/Scripts/jquery.base64.js"></script>
                <script type="text/javascript">
        $(document).ready(function () {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("stock");
            switching = true;
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[6];
                    y = rows[i + 1].getElementsByTagName("TD")[6];
                    //check if the two rows should switch place:
                    if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        });

        $(document).ready(function () {
            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            dataTable = $("#maintable").DataTable({
                "order": [[6, "desc"]]
            });
            $(document).on('click','#yes',function () {
        console.log(dataTable);
        $("#table2export").tableExport({ type: 'excel', escape: 'false' });
        url = '@Url.Action("ActualizarStock", "Insumos")';
        location.href = url;

        });
        });

                </script>
            }
