@model SIAH.Models.Reclamos.Reclamo

@{
    ViewBag.Title = "Detalle del reclamo";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-lg-9">
                <h1>Detalle del reclamo Nº: @Html.DisplayFor(model => model.pedidoId)</h1>
                <div class="banner-catalog__content"> Descripción general sobre el reclamo.</div>
            </div>
            <div class="col-lg-3">
                <div class="icon icon-danger">
                    <i class="material-icons pull-right" style="font-size: 100px">report</i>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="container" style=" padding-bottom: 30px;">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del reclamo</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospital.nombre, "Hospital", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-10">
                                        <text class="form-control">@Model.hospital.nombre</text>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.estadoReclamo.nombreEstado, "Estado", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-10">
                                        <text class="form-control">@Model.estadoReclamo.nombreEstado</text>
                                    </div>
                                </div>
                            </div>
                            @if (Model.responsableAsignado != null)
                            {
                                var nombre = $"{Model.responsableAsignado.nombre} {Model.responsableAsignado.apellido}";
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.responsableAsignado.nombre, "Responsable asignado", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                        <div class="col-md-10">
                                            <text class="form-control">@nombre</text>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaInicioReclamo, "Fecha inicio reclamo", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-10">
                                        <text class="form-control">@Model.fechaInicioReclamo.ToShortDateString()</text>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tipoReclamo.tipo, "Tipo", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        <text class="form-control">@Model.tipoReclamo.tipo</text>
                                        <span>
                                            @Model.tipoReclamo.descripcion
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Pedido, $"Pedido N°: {Model.pedidoId}", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-10" style="padding: 10px 0px 0px 15px">
                                        <input type="button" id="btn_pedido" value="DETALLE DEL PEDIDO RECLAMADO" class="btn-info btn-sm bold" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__title alert-header">
                            <div class="alert-icon">
                                <i class="material-icons">warning</i>
                                <strong>Importante</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">

                            @if (Model.fechaFinReclamo.HasValue)
                            {
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.fechaFinReclamo, "Fecha resolución de reclamo", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                        <div class="col-md-4">
                                            <text class="form-control">@Model.fechaFinReclamo.Value.ToShortDateString()</text>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.observacionFamacia, "Observación", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.observacionFamacia, 5, 10, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "Sin observación" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__title purple-header">
                            <div class="alert-icon">
                                <i class="material-icons">info</i>
                                <strong>Respuesta de la oficina de autorizaciones hospitalarias</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-12">
                                @{
                                    var textAreaRows = Model.fechaFinReclamo.HasValue ? 9 : 5;
                                }
                                <div class="form-group">
                                    @Html.LabelFor(model => model.respuesta, "Respuesta", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.respuesta, textAreaRows, 10, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "Sin respuesta" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-bottom: 0px;" />
            <div class="col-sm-4" style="margin-top: 50px;">
                <input type="button" value="Volver al listado de reclamos" class="btn pull-left btn-primary" onclick="location.href = '/Reclamos/ListadoReclamos'" />
            </div>

            @if (((Model.estadoReclamoId == 1 && Session["rol"].ToString() != "DirectorArea") || Model.estadoReclamoId == 2) && Session["rol"].ToString() != "RespFarmacia")
            {
                var columnasDeAcciones = 5;
                if (Model.estadoReclamoId == 1 || Session["rol"].ToString() == "DirectorArea") { columnasDeAcciones = 3; };
                <div class="row">
                    <div class="pull-right col-sm-@columnasDeAcciones">
                        <div class="form-card form-card--tight animated zoomIn">
                            <div class="form-card__title alert-header">
                                <div class="alert-icon">
                                    <i class="material-icons">warning</i>
                                    <strong>Acciones</strong>
                                </div>
                            </div>
                            <div class="form-card__content group" style="padding-bottom: 0px; padding-top: 0px;">
                                <div class="form-group">
                                    @if (Model.estadoReclamoId == 2 && int.Parse(Session["userId"].ToString()) == Model.responsableAsignadoId && Session["rol"].ToString() == "RespAutorizacion"
                                        || Model.estadoReclamoId == 2 && Session["rol"].ToString() == "DirectorArea")
                                    {
                                        <div class="col-sm-3 btn-margin" style="padding-left: 5px;">
                                            <input type="button" style="font-size: 14px;" id="btn_quitar" value="Quitar asignación" class="btn pull-left btn-round btn-danger" />
                                        </div>

                                        if (Model.estadoReclamoId == 2 && int.Parse(Session["userId"].ToString()) == Model.responsableAsignadoId && Session["rol"].ToString() == "RespAutorizacion")
                                        {
                                            <div class="pull-right col-sm-4 btn-margin" style="padding-right: 0px;">
                                                <input type="button" style="font-size: 14px;" id="btn_solve" value="Resolver" class="btn pull-right btn-round btn-success" />
                                            </div>
                                        }
                                    }
                                    else if (Model.estadoReclamoId == 1 && Session["rol"]?.ToString() == "RespAutorizacion")
                                    {
                                        <div class="pull-right col-sm-9 btn-margin" style="padding-right: 10px;">
                                            <input type="button" style="font-size: 16px;" id="btn_assign" value="Asignarme" class="btn pull-right btn-round btn-success" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    @Html.HiddenFor(model => model.pedidoId, htmlAttributes: new { @id = "idPedido" })
    @Html.Hidden("idResponsable", Session["userId"], htmlAttributes: new { @id = "idResponsable" })
}


@section Scripts {
    <script type="text/javascript">
        //Funcion para autoasignarse el reclamo
        $(document).on('click', '#btn_assign', function (event) {
            event.preventDefault();
            var idPedido = $('#idPedido').val();
            var idResponsable = $('#idResponsable').val();
            var urlAsignar = '/Reclamos/AutoAsignacion' + '?idReclamo=' + idPedido + '&idResponsable=' + idResponsable;
            location.href = urlAsignar;
        });
        //Funcion para quitar la asignacion
        $(document).on('click', '#btn_quitar', function (event) {
            event.preventDefault();
            var idPedido = $('#idPedido').val();
            var urlQuitar = '/Reclamos/Unassign?idReclamo=' + idPedido;
            location.href = urlQuitar;
        });
        //Funcion para resolver el reclamo
        $(document).on('click', '#btn_solve', function (event) {
            event.preventDefault();
            var idPedido = $('#idPedido').val();
            var urlRecibido = '/Reclamos/Resolucion' + '?id=' + idPedido;
            location.href = urlRecibido;
        });
        //Funcion para ir al Pedido
        $(document).on('click', '#btn_pedido', function (event) {
            event.preventDefault();
            var idPedido = $('#idPedido').val();
            var urlRecibido = '/Pedidos/Details/' + idPedido;
            location.href = urlRecibido;
        })
    </script>
}
