@model SIAH.Models.Reclamos.Reclamo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reclamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estadoReclamo.nombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoReclamo.nombreEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pedidoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pedidoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsableAsignado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsableAsignado.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoReclamo.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoReclamo.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacionFamacia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacionFamacia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicioReclamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicioReclamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinReclamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinReclamo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pedidoId }) |
    @if (Session["rol"].ToString() == "RespAutorizacion")
    {
        @Html.ActionLink("Back to List", "ListadoReclamos")
    }
    @if (Session["rol"].ToString() == "RespFarmacia")
    {
        @Html.ActionLink("Back to List", "ReclamosRespFarmacia")
    }
</p>
