@model IEnumerable<SIAH.Models.Reclamos.Reclamo>

@{
    ViewBag.Title = "ListadoReclamos";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Listado de Reclamos</h1>
            <div class="banner-catalog__content">
                Aqui encontrará los reclamos pendientes de asignación e históricos
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-card form-card--purple form-card--tight  animated zoomIn ">
            <div class="form-card__content group">
                <div class="form-group">
                    @*<h3 class="col-md-7"><strong>Listado de Insumos</strong></h3>
                        <div class="row">*@

                    <div id="contenedor" class="col-md-12">

                        <div id="table-container">
                            <table id="maintable" class="table table-condensed">
                                <thead>
                                    <tr class="list-group-item-info" style="border-bottom: solid">
                                        <th class="text-center">
                                            <strong>@Html.DisplayNameFor(model => model.id)</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>@Html.DisplayNameFor(model => model.pedidoId)</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong> @Html.DisplayNameFor(model => model.hospital.nombre)</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.fechaInicioReclamo)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.fechaFinReclamo)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.tipoReclamo.tipo)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.estadoReclamo.nombreEstado)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>  @Html.DisplayNameFor(model => model.observacionFamacia)</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.responsableAsignado.apellido)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>  @Html.Name("Acciones")</strong>
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pedido.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.hospital.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaFinReclamo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tipoReclamo.tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.observacionFamacia)
                                    </td>
                                    @if (item.estadoReclamoId == 1)
                                    {
                                        <td>
                                            @Html.ActionLink("Asignarme el Reclamo", "AutoAsignacion", new { idReclamo = item.id, idResponsable = Session["userId"] })
                                        </td>
                                    }
                                </tr>
                                }
                            </table>
                            <div id="bottom_anchor"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
