@model IEnumerable<SIAH.Models.Reclamos.Reclamo>

@{
    ViewBag.Title = "ListadoReclamos";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Listado de Reclamos</h1>
            <div class="banner-catalog__content">
                Aqui encontrará los reclamos pendientes de asignación e históricos
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-card form-card--purple form-card--tight  animated zoomIn ">
            <div class="form-card__content group">
                <div class="form-group">

                    <div id="contenedor" class="col-md-12">

                        <div id="table-container">
                            <table id="maintable" class="table table-condensed">
                                <thead>
                                    <tr class="list-group-item-info" style="border-bottom: solid">
                                        <th class="text-center">
                                            <strong>@Html.DisplayName("Id Pedido")</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong> @Html.DisplayNameFor(model => model.hospital.nombre)</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.fechaInicioReclamo)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayName("Responsable Asignado")
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>
                                                @Html.DisplayNameFor(model => model.estadoReclamo.nombreEstado)
                                            </strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>  @Html.Name("Acciones")</strong>
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                switch (item.estadoReclamoId)
                                    {
                                        case 1:
                                        <tr class="list-group-item-grey">
                                                <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.pedidoId)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                        </td>
                                        <td class="text-center">
                                            @if (item.responsableAsignado != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("Detalle", "Details", new { id = item.pedidoId }) |
                                            @if (item.estadoReclamoId == 1)
                                            {
                                                @Html.ActionLink("Asignarme", "AutoAsignacion", new { idReclamo = item.pedidoId, idResponsable = Session["userId"] })
                                            }
                                            @if (item.estadoReclamoId == 2 && int.Parse(Session["userId"].ToString()) == item.responsableAsignadoId)
                                            {
                                                @Html.ActionLink("Resolver", "Resolucion", new { id = item.pedidoId })
                                            }
                                        </td>
                                        </tr>
                                        break;

                                        case 2:

                                        <tr class="list-group-item-orange">
                                                <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.pedidoId)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                        </td>
                                        <td class="text-center">
                                            @if (item.responsableAsignado != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("Detalle", "Details", new { id = item.pedidoId }) |
                                            @if (item.estadoReclamoId == 1)
                                            {
                                                @Html.ActionLink("Asignarme", "AutoAsignacion", new { idReclamo = item.pedidoId, idResponsable = Session["userId"] })
                                            }
                                            @if (item.estadoReclamoId == 2 && int.Parse(Session["userId"].ToString()) == item.responsableAsignadoId)
                                            {
                                                @Html.ActionLink("Resolver", "Resolucion", new { id = item.pedidoId })
                                            }
                                        </td>
                                        </tr>

                                        break;

                                        case 3:

                                        <tr class="list-group-item-success">
                                                <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.pedidoId)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                        </td>
                                        <td class="text-center">
                                            @if (item.responsableAsignado != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("Detalle", "Details", new { id = item.pedidoId }) |
                                            @if (item.estadoReclamoId == 1)
                                            {
                                                @Html.ActionLink("Asignarme", "AutoAsignacion", new { idReclamo = item.pedidoId, idResponsable = Session["userId"] })
                                            }
                                            @if (item.estadoReclamoId == 2 && int.Parse(Session["userId"].ToString()) == item.responsableAsignadoId)
                                            {
                                                @Html.ActionLink("Resolver", "Resolucion", new { id = item.pedidoId })
                                            }
                                        </td>
                                        </tr>

                                        break;
                                    }
                                    
                                }
                            </table>
                            <div id="bottom_anchor"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
