@model IEnumerable<SIAH.Models.Reclamos.Reclamo>

@{
    ViewBag.Title = "ReclamosRespFarmacia";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-9">
            <h1>Mis Reclamos</h1>
            <div class="banner-catalog__content">
                Aquí encontrará todos sus reclamos realizados y el estado de cada uno para los pedidos de su hospital.
            </div>
        </div>
        <div class="col-lg-3">
            <div class="icon icon-danger">
                <i class="material-icons pull-right" style="font-size: 100px">report</i>
            </div>
        </div>
    </div>
</div>

<div class="container" style=" padding-bottom: 30px;">
    <div class="form-horizontal">
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn ">
                    <div class="form-card__content group">
                        <div class="form-group">

                            <div id="contenedor" class="col-md-12">
                                <div id="table-container">
                                    <table id="maintable" class="table table-condensed">
                                        <thead>
                                            <tr class="list-group-item-info" style="border-bottom: solid">
                                                <th class="text-center">
                                                    <strong>@Html.DisplayName("Pedido Nº")</strong>
                                                </th>
                                                <th class="text-center">
                                                    <strong>
                                                        @Html.DisplayNameFor(model => model.fechaInicioReclamo)
                                                    </strong>
                                                </th>
                                                <th class="text-center">
                                                    <strong>
                                                        @Html.DisplayName("Responsable Asignado")
                                                    </strong>
                                                </th>
                                                <th class="text-center">
                                                    <strong>
                                                        @Html.DisplayNameFor(model => model.estadoReclamo.nombreEstado)
                                                    </strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            switch (item.estadoReclamoId)
                                            {
                                                case 1:
                                                    <tr class="list-group-item-grey" onclick="location.href='@Url.Action("Details", null, new { id = item.pedidoId, controller = "Reclamos" }, Request.Url.Scheme)'">
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.pedidoId)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.responsableAsignado != null)
                                                            {
                                                                @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                                        </td>
                                                    </tr>
                                                    break;

                                                case 2:

                                                    <tr class="list-group-item-orange" onclick="location.href='@Url.Action("Details", null, new { id = item.pedidoId, controller = "Reclamos" }, Request.Url.Scheme)'">
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.pedidoId)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.responsableAsignado != null)
                                                            {
                                                                @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                                        </td>
                                                    </tr>
                                                    break;

                                                case 3:

                                                    <tr class="list-group-item-success" onclick="location.href='@Url.Action("Details", null, new { id = item.pedidoId, controller = "Reclamos" }, Request.Url.Scheme)'">
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.pedidoId)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaInicioReclamo)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.responsableAsignado != null)
                                                            {
                                                                @Html.DisplayFor(modelItem => item.responsableAsignado.apellido)
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.estadoReclamo.nombreEstado)
                                                        </td>
                                                    </tr>
                                                    break;
                                            }

                                        }
                                    </table>
                                    <div id="bottom_anchor"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        //Funcion para ordenar la tabla de reclamos
        $(document).ready(function () {
            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }
            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            $("#maintable").DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}