@model SIAH.Models.Reclamos.Reclamo

@{
    ViewBag.Title = "Resolucion";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    String hospital = ViewBag.hospital;
    int hospitalId = ViewBag.hospitalId;
    int tipoReclamoId = ViewBag.tipoReclamoId;
    String tipo = ViewBag.tipo;
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-9">
            <h1>Resolución de Reclamo Nº: @Html.DisplayFor(model => model.pedidoId)</h1>
            <div class="banner-catalog__content"> Brinde una respuesta por cada detalle del reclamo en el campo correspondiente.</div>
        </div>
        <div class="col-lg-3">
            <div class="icon icon-success">
                <i class="material-icons pull-right" style="font-size: 100px">check_circle</i>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Resolucion", "Reclamos", FormMethod.Post, new { id = "reclamoForm" }))
{
    @Html.AntiForgeryToken()

    <div class="container" style=" padding-bottom: 30px;">
        <div class="form-horizontal">
            <hr />
            <div class="row">
                @Html.HiddenFor(model => model.pedidoId)
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del Reclamo</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.fechaInicioReclamo, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBox("fechaInicioReclamo", Model.fechaInicioReclamo.ToString("dd/MM/yyyy"), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @type = "hidden" })
                                        <text class="form-control">@Model.fechaInicioReclamo.ToShortDateString()</text>
                                        @Html.ValidationMessageFor(model => model.fechaInicioReclamo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.fechaFinReclamo, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBox("fechaFinReclamo", DateTime.Today.ToString("dd/MM/yyyy"), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today, @type = "hidden" })
                                        <text class="form-control">@DateTime.Today.ToString("dd/MM/yyyy")</text>
                                        @Html.ValidationMessageFor(model => model.fechaFinReclamo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.hospitalId, "Hospital", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">

                                        @Html.TextBox("hospital", hospital, htmlAttributes: new { @class = "form-control", @readonly = "readonly", type = "hidden" })
                                        <text class="form-control">@hospital</text>
                                        @Html.TextBox("tipoReclamoId", 1, htmlAttributes: new { @class = "form-control", @type = "hidden", @readonly = "readonly" })
                                        @Html.TextBox("hospitalId", hospitalId, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @type = "hidden" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__title purple-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Detalles del reclamo</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-md-12">
                                <table id="maintable" class=" table table-hover table-condensed">
                                    <thead>
                                        <tr class="text-center list-group-item-info">
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Tipo</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Observación</th>
                                            <th class="text-center">Tipo de Reclamo</th>
                                            <th class="text-center">Respuesta</th>
                                            <th class="text-center">
                                                Aceptar
                                                <input id="syncAll" name="syncAll" type="checkbox" class="sync-all" onchange="allChecked();" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody name="detallesReclamo" id="detallesReclamo">
                                        @foreach (var detalle in (IEnumerable<SIAH.Controllers.ReclamosController.DetallesReclamoDTO>)ViewBag.DetallesReclamo)
                                        {
                                        <tr>
                                            <td class="text-center">
                                            @detalle.nombre 
                                            <input class="insId" readonly type="hidden" value="@detalle.insumoId">
                                            <input class="pedId" readonly type="hidden" value="@Model.pedidoId">
                                            </td>
                                            <td class="text-center">@detalle.tipo</td>
                                            <td class="text-center">@detalle.cantidad</td>
                                            <td class="text-center">@detalle.observacion</td>
                                            <td class="text-center">@detalle.tipoReclamo</td>
                                            <td class="text-center">
                                                @Html.TextAreaFor(model => model.respuesta, 5, 30, htmlAttributes: new { @name = "dummyRespuesta", @class = "form-control res", @maxlength = "500", @placeholder = "Detalle la respuesta que desea brindar respecto al reclamo de este insumo", @required = "required" })
                                            </td>
                                            <td class="text-center">
                                                <input id="sync" name="sync" type="checkbox" class="sync-box" onchange="checkBoxClicked();" />
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(model => model.responsableAsignadoId)
            </div>
        </div>

        <div class="col-sm-4" style="margin-top: 50px;">
            <input type="button" value="Volver al listado" class="btn pull-left btn-primary" onclick="location.href = '/Reclamos/ListadoReclamos'" />
        </div>

        <div class="row">
            <div class="pull-right col-sm-3">
                <div class="form-card form-card--tight animated zoomIn">
                    <div class="form-card__title alert-header">
                        <div class="alert-icon">
                            <i class="material-icons">warning</i>
                            <strong>Acciones</strong>
                        </div>
                    </div>
                    <div class="form-card__content group" style="padding-bottom: 0px; padding-top: 0px;">
                        <div class="form-group">
                            @*<div class="col-sm-3 btn-margin" style="padding-left: 5px;">
                                <input type="button" style="font-size: 14px;" id="moreInfo" value="Solicitar información" class="btn pull-left btn-round btn-info" />
                            </div>*@
                            <div class="col-sm-12 btn-margin ">
                                <input type="button" style="font-size: 14px;" id="cerrarReclamo" value="Cerrar reclamo" class="btn pull-right btn-round btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script type="text/javascript">

        $(document).on('click', '#cerrarReclamo', function (event) {
            if (document.getElementById('reclamoForm').reportValidity()) {
                Swal.fire({
                    title: 'Cerrar Reclamo!',
                    text: "¿Está seguro que desea continuar?",
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonColor: "#28a745",
                    confirmButtonText: 'Aceptar',
                    cancelButtonColor: "#dc3545",
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        var count = 0;
                        $('#maintable > tbody  > tr').each(function () {
                            $(this).find('.sync-box')[0].setAttribute("name", `detallesReclamo[${count}][accepted]`);
                            $(this).find('.res')[0].setAttribute("name", `detallesReclamo[${count}][respuesta]`);
                            $(this).find('.insId')[0].setAttribute("name", `detallesReclamo[${count}][insumoId]`);
                            $(this).find('.pedId')[0].setAttribute("name", `detallesReclamo[${count}][pedidoId]`);
                            count++;
                        });
                        $('#reclamoForm').submit();
                    }
                })
            }
         });
        $(document).on('click', '#moreInfo', function (event) {
            Swal.fire({
                title: '¿Está seguro que desea solicitar mas información al hospital sobre su reclamo?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                confirmButtonText: 'Aceptar',
                cancelButtonColor: "#dc3545",
                cancelButtonText: 'Cancelar',
                showCloseButton: true,
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    const urlMoreInfo = '/Reclamos/MoreInfo?idReclamo=' + document.getElementById('pedidoId').value;
                    location.href = urlMoreInfo;
                }
            });
        });
        $(document).ready(function () {
            table = $("#maintable").DataTable({
                "oLanguage": { "sEmptyTable": "No hay insumos cargados para este pedido" },
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
            $('#volverAlListado').on('click', function (event) {
                var urlRecibido = '/Reclamos/ListadoReclamos';
                location.href = urlRecibido;
                event.stopImmediatePropagation();
            });
             var len = $('#respuesta').val().length;
            var countToShow = (500 - len).toString();
            countToShow += '/500';
            $('#charNum').text(countToShow);
        });
        function countChar(val) {
            var len = val.value.length;
            let countToShow = '';
            if (len >= 500) {
                val.value = val.value.substring(0, 500);
            } else {
                countToShow = (500 - len).toString();
                countToShow += '/500';
                $('#charNum').text(countToShow);
            }
        };

        function checkBoxClicked() {
            $('#maintable > tbody  > tr').each(function () {
                var shouldSync = $(this).find('.sync-box')[0];
                if (shouldSync.checked) {
                    $(this).find('.sync-box').val("true");
                } else {
                    $(this).find('.sync-box').val("false");
                }

            });
        }

        function allChecked() {
            if ($('#syncAll').prop('checked')) {
                $('#maintable > tbody  > tr').each(function () {
                    $(this).find('.sync-box')[0].checked = true;

                });
            } else {
                $('#maintable > tbody  > tr').each(function () {
                    $(this).find('.sync-box')[0].checked = false;
                });
            }
            checkBoxClicked();
        }
    </script>
}