@model SIAH.Models.Pedidos.Pedido
@{
    ViewBag.Title = "Autorizacion";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var detallesPedido = Model.detallesPedido;
}

<div class="modal fade" id="myModalCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog confirm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><strong> Confirmación!</strong></h4>
        </div>
        <div class="modal-body text-center">

            <h5> ¿Está seguro que desea cancelar el pedido? </h5>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
            <input id="btn_confirm_cancel" type="submit" class="btn btn-info btn-simple" value="Aceptar">
        </div>
    </div>
</div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model.estaAutorizado == true)
    {
        @Html.TextBox("yaAutorizado", "El pedido al que intenta acceder ya fue autorizado", htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
    }
    <div class="modal fade" id="urgente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-danger" id="myModalLabel"><strong> Pedido Urgente!</strong></h4>
                </div>
                <div class="modal-body ">

                    <h5>
                        Este es un pedido urgente, tiene una prioridad mayor que los pedidos comunes. <br /> Por favor comúniquese con el Responsable de Farmacia del
                        <strong id="nameHospital"></strong> para obtener mas información sobre el motivo de la solicitud.
                    </h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><strong> Confirmación!</strong></h4>
                </div>
                <div class="modal-body text-center">

                    <h5> ¿Desea autorizar el pedido? </h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                    <input id="yes" type="submit" class="btn btn-info btn-simple" value="Aceptar">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-12">
                <h1>Autorización del pedido Nº: @Html.DisplayFor(model => model.id)</h1>
                <div class="banner-catalog__content"> Aqui puede corroborar informacion referida a un pedido, seleccionar una cantidad a autorizar y Autorizar el Pedido.</div>
            </div>
        </div>
    </div>
    <br />

    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del pedido</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.periodo, "Período", htmlAttributes: new { @class = "control-label col-sm-12 tota" })
                                    <div class="col-sm-12">
                                        @Html.TextBox("periodo", DateTime.Today.ToString("MMMM - yyyy"), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today })
                                        @Html.ValidationMessageFor(model => model.periodo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospitalId, "Hospital", htmlAttributes: new { @class = "control-label col-sm-12 tota" })
                                    <div class="col-sm-12">
                                        @Html.TextBox("nombreHospital", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.hospital.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospital.presupuesto, "Presupuesto", htmlAttributes: new { @class = "control-label col-sm-12 tota" })
                                    <div id="container" class="col-sm-12">
                                        @Html.TextBox("presupuesto", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control", @id = "presupuesto" })
                                        <div> <span id="presuSpan" name="presuSpan" class="text-danger"></span></div>
                                        <div><span id="autoSpan" name="autosSpan" class="text-success"></span></div>
                                        @*@Html.Action("getPresupuesto", "HospitalController", new { idHospital = 0 })
                                            <text id="presupuesto" class="form-control"></text>
                                            @Html.TextBox("presupuesto",null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @id = "presupuesto" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaGeneracion, "Fecha Generación", htmlAttributes: new { @class = "control-label col-sm-12 tota" })
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(model => model.fechaGeneracion, Model.fechaGeneracion.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaEntrega, "Fecha Entrega", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    @{ DateTime fechaE = DateTime.Today.AddDays(3);
                                        if (fechaE.DayOfWeek == DayOfWeek.Saturday || fechaE.DayOfWeek == DayOfWeek.Sunday)
                                        {
                                            fechaE = fechaE.AddDays(2);
                                        }
                                    }
                                    <div class="col-sm-12">
                                        @Html.TextBox("fechaEntrega", fechaE.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = fechaE })
                                        @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__title alert-header">
                            <div class="alert-icon">
                                <i class="material-icons">warning</i>
                                <strong>Pedido Urgente!</strong>
                            </div>
                        </div>

                        <div class="form-card__content group">
                            <div class="form-group text-center">
                                @if (Model.esUrgente)
                                {
                                    <h4 class="text-danger"><strong>Este pedido es Urgente </strong></h4>
                                    <input type="button" value="Mas info" class="btn btn-simple btn-primary" data-toggle="modal" data-target="#urgente" />
                                }
                                else
                                {
                                    <h4><strong>Este pedido no es Urgente </strong></h4>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @*Detalle del pedido*@
        <div class="row">
            <div class="col-sm-12">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                    <div class="form-card__title  violet-header">
                        <div class="alert-icon">
                            <i class="material-icons">storage</i>
                            <strong>Listado de Insumos</strong>
                        </div>
                    </div>
                    <div class="form-card__content group">
                        <div class="form-group">
                            @*<h3 class="col-sm-7"><strong>Listado de Insumos</strong></h3>*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="detalles" class=" table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="font-weight:bold ">Nombre</th>
                                                <th style="font-weight:bold">Tipo </th>
                                                <th style="font-weight:bold" class="text-center">Cantidad Solicitada</th>
                                                <th style="font-weight:bold" class="text-center">Cantidad Autorizada</th>
                                                <th style="font-weight:bold" class="text-center">Stock</th>
                                                <th style="font-weight:bold" class="text-center">Stock Hospital</th>
                                                <th style="font-weight:bold" class="text-center">Precio Unitario</th>
                                                <th style="font-weight:bold" text-align="center">Subtotal</th>
                                            </tr>
                                        </thead>

                                        @{ var subtotal = "";}
                                        <tbody name="detallesPedido" id="detallesPedido">
                                            @*@foreach (var item in detallesPedido)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="@item.pedidoId" value="@item.pedidoId">
                                    @item.pedidoId;
                                    <input type="hidden" name="@item.insumoId" value="@item.insumoId">
                                    <input type="hidden" name="@item.insumo.nombre" value="@item.insumo.nombre">
                                    @item.insumo.nombre;
                                </td>
                                <td>
                                    <input type="hidden" name="@item.insumo.tiposInsumo.nombre" value="@item.insumo.tiposInsumo.nombre">
                                    @item.insumo.tiposInsumo.nombre;
                                </td>
                                <td>
                                    <input type="hidden" name="@item.cantidad" value="@item.cantidad">
                                    @item.cantidad;
                                </td>
                                <td>
                                    <input type="number" name="@item.cantidadAutorizada" min="0" max="@item.cantidad" value="@item.cantidad">
                                    @item.cantidadAutorizada;
                                </td>
                                <td>
                                    <input type="hidden" name="@item.insumo.precioUnitario" value="@item.insumo.precioUnitario">
                                    @item.insumo.precioUnitario;
                                </td>
                                <td>
                                    <input type="hidden" name="subtotal" value="subtotal">
                                    @subtotal;
                                </td>
                            </tr>
                        }*@

                                    </table>
                                    @*<div class="form-group">*@
                                    <div class="pull-rigth col-sm-2" id="cuadritos1" style="padding-right:10px">
                                        <div class="panel panel-DEFAULT text-center">
                                            @*<div class="panel-heading">INSUMOS</div>*@
                                            <div class="panel-body">
                                                @Html.Label("Total Solicitado", null, htmlAttributes: new { @class = "control-label" })
                                                <strong>
                                                    @Html.TextBox("total", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left col-sm-2" id="cuadritos1" style="padding-right:10px">
                                        <div class="panel panel-DEFAULT text-center">
                                            @*<div class="panel-heading">INSUMOS</div>*@
                                            <div class="panel-body">
                                                @Html.Label("Total Autorizado", null, htmlAttributes: new { @class = "control-label" })
                                                <strong>
                                                    @Html.TextBox("totalAut", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                    @*Boton para autorizar*@


                                </div>
                            </div>
                            <div class=" pull-right col-sm-2">
                                <input type="button" value="Autorizar" id="Autorizacion" class="btn btn-round btn-success" data-toggle="modal" data-target="#myModal" />
                            </div>
                            <div class=" pull-left col-sm-2">
                                <input type="button" value="Calcular Total Autorizado" id="calcular" class="btn btn-round btn-info" />
                            </div>
                            <div class="pull-left col-sm-12 btn-margin">
                                <input type="button" id="btn_cancelar" value="Cancelar Pedido" class="btn btn-round btn-danger" data-toggle="modal" data-target="#myModalCancel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.TextBox("hospitalId", Model.hospitalId, htmlAttributes: new { @readonly = "readonly", @type = "hidden", @name = "hospitalId" })
                                            @Html.HiddenFor(model => model.id, htmlAttributes: new { @id = "idPedido", @name = "id" })
                                            }



<br />
<div class="container">
    @Html.ActionLink("Volver al Listado", "Listado")
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var idHospital = $('#hospitalId').val();
            //console.log(idHospital);
            var urlHospital = '/Pedidos/GetHospital' + '?hospitalId=' + idHospital;
            $.get(urlHospital, null, function (data) {
                //console.log(data);
                $('#nameHospital').html(data[0]);
                $('#nombreHospital').val(data[0]);
                var $presupuesto = parseFloat(data[1]);
                var $presupuestoAMostrar = new Intl.NumberFormat('de-DE').format($presupuesto);
                $('#presupuesto').val("$" + $presupuestoAMostrar);

            });
        })
        //Función boton para cancelar el Pedido
        $(document).on('click', '#btn_confirm_cancel', function (event) {
            event.preventDefault();
            var idPedido = $('#idPedido').val();
            var urlRecibido = '/Pedidos/Cancelar' + '?pedidoId=' + idPedido;
            location.href = urlRecibido;
        })
        $(document).ready(function () {

            var indice = $('#detallesPedido > tr').not('.empty').length;
            var idPedido = $('#idPedido').val();
            console.log(idPedido);
            var urlDetalle = '/Pedidos/GetDetalles' + '?idPedido=' + idPedido;
            $.get(urlDetalle, null, function (lista) {
                var total = 0;
                //console.log(lista);
                for (var i = 0, len = lista.length; i < len; i++) {
                    var data = lista[i];
                    /*Antiguo metodo de mostrar y editar los detalles
                    var $tdInsumo = $('<td>').append(item.nombre);
                     var $tdTipo = $('<td>').append(item.tipo);
                     var $tdCantidad = $('<td>').append(item.cantidad);
                     var $cantidadAutorizada = $('<input>').attr('type', 'number').attr('min', '0').attr('max', item.cantidad).attr('value', item.cantidad).attr('name', 'cantidadAutorizada[' + i + ']');
                     var $tdCantidadAutorizada = $('<td>').append($cantidadAutorizada);
                    var $tdPrecioUnitario = $('<td>').append(item.precio);
                    var subtotal = item.precio * item.cantidad;
                    var $tdSubtotal = $('<td>').append(subtotal);
                    var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAutorizada, $tdPrecioUnitario, $tdSubtotal);
                    total += subtotal;
                    $('#detalles').append($tr);*/
                    var $pedidoId = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][pedidoId]').val(data.pedidoId);
                    var $insumoId = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumoId]').val(data.insumoId);
                    var $nombre = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][nombre]').val(data.nombre);
                    var $tdInsumo = $('<td>').html(data.nombre).append($pedidoId, $insumoId, $nombre);

                    var $tipo = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][tiposInsumo][nombre]').val(data.tipo);
                    var $tdTipo = $('<td>').html(data.tipo).append($tipo);

                    var $precioAMostrar = new Intl.NumberFormat('de-DE').format(data.precioUnitario);

                    // var $precioUnitario = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][precioUnitario]').attr('value', data.precioUnitario).val($precioAMostrar);
                    var $precioUnitario = $('<input>').attr('type', 'hidden').attr('id', 'detallesPedido[' + indice + '][insumo][precioUnitario]').attr('value', data.precioUnitario);
                    var $tdPrecioUnitario = $('<td align="center">').html("$" + $precioAMostrar).append($precioUnitario);

                    var $cantidad = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][cantidad]').attr('id', 'detallesPedido[' + indice + '][cantidad]').val(data.cantidad);
                    var $tdCantidad = $('<td align="center">').html(data.cantidad).append($cantidad);

                    var $cantidadAut = $('<input  style="text-align:center">').attr('type', 'number').attr('min', '0').attr('max', data.cantidad).attr('value', data.cantidad)
                        .attr('onchange', "updateInput(this.value," + indice + ")").attr('name', 'detallesPedido[' + indice + '][cantidadAutorizada]').attr('id', 'detallesPedido[' + indice + '][cantidadAutorizada]');


                    var $tdCantidadAut = $('<td id="cantAut" align="center">').append($cantidadAut);



                    var $tdStock = $('<td  id="stock" align="center">').html(data.stock).attr('id', 'detallesPedido[' + indice + '][stock]');
                    var $stockFarmacia = data.stockFarmacia
                    if ($stockFarmacia == null) { $stockFarmacia = 0}
                    var $tdStockFarmacia = $('<td  id="stock" align="center">').html($stockFarmacia);

                    var $subtotalCalculado = data.precioUnitario * data.cantidad;
                    var $subtotalAMostrar = new Intl.NumberFormat('de-DE').format($subtotalCalculado);

                    var $subtotal = $('<input>').attr('type', 'hidden').attr('name', 'subtotal').val($subtotalAMostrar);
                    var $tdSubtotal = $('<td align="center">').html('$' + $subtotalAMostrar)

                    if (data.cantidad > data.stock) {
                        var $tr = $('<tr class="list-group-item-danger">').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAut, $tdStock,  $tdStockFarmacia,  $tdPrecioUnitario, $tdSubtotal);
                    }
                    else {
                        var $tr = $('<tr class="list-group-item-success">').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAut, $tdStock, $tdStockFarmacia, $tdPrecioUnitario, $tdSubtotal);

                    }
                    $('#detallesPedido').append($tr);

                    total += $subtotalCalculado;
                    indice++;

                }
                var table = $("#detalles").DataTable();
                // $('#total').val(total);
                var $totalAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(total).toFixed(2));
                $('#total').val("$" + $totalAMostrar);
                if (parseFloat($('#presupuesto').val().replace("$", "").replace(".", "")) < total) {
                    $('#presuSpan').text("El costo del pedido supera el presupuesto");
                    console.log($('#presupuesto').val().replace("$", ""));
                }
                var table = $("#detalles").DataTable();
            });

        })

        function updateInput(ish, indice) {
            document.getElementById("detallesPedido[" + indice + "][cantidadAutorizada]").setAttribute("value", ish);
            var value = Number.parseInt(ish);
            var j = Number.parseInt(document.getElementById("detallesPedido[" + indice + "][stock]").innerText);

            var x = document.getElementById("detallesPedido[" + indice + "][cantidad]").value;

            if (value > j ) {
                $(document.getElementById("detallesPedido[" + indice + "][cantidadAutorizada]")).closest('tr').attr("class", "list-group-item-danger");
            }
            else {
                $(document.getElementById("detallesPedido[" + indice + "][cantidadAutorizada]")).closest('tr').attr("class", "list-group-item-success");
            }
        }
        $(document).on('click', '#calcular', function (event) {
            event.preventDefault();
            var len = $('#detallesPedido > tr').not('.empty').length;
            var cantAut, precio;
            console.log(len);
            var totalAutorizado = 0;
            for (var i = 0; i < len; i++) {
                precio = document.getElementById("detallesPedido[" + i + "][insumo][precioUnitario]").getAttribute("value");
                cantAut = document.getElementById("detallesPedido[" + i + "][cantidadAutorizada]").getAttribute("value");
                totalAutorizado += parseFloat(cantAut) * parseFloat(precio);
            }
            var $totalAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(totalAutorizado).toFixed(2));
            $('#totalAut').val("$" + $totalAMostrar)
            $("#detalles").DataTable().draw();
        });
    </script>
}
