@model SIAH.Models.Pedidos.Pedido
@{
    ViewBag.Title = "Autorizacion";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var detallesPedido = Model.detallesPedido;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model.estaAutorizado == true)
    {
        @Html.TextBox("yaAutorizado", "El pedido al que intenta acceder ya fue autorizado", htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
    }

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><strong> Confirmación!</strong></h4>
                </div>
                <div class="modal-body text-center">
                    
                        <h5> ¿Desea autorizar el pedido? </h5>
                        
                                          
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                    <input id="yes" type="submit" class="btn btn-info btn-simple" value="Aceptar">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-catalog">
        <div class="container">
            <div class="col-lg-12">
                <h1>Autorización del pedido @Html.DisplayFor(model => model.id)</h1>
                <div class="banner-catalog__content"> Aqui puede corroborar informacion referida a un pedido, seleccionar una cantidad a autorizar y Autorizar el Pedido.</div>
            </div>
        </div>
    </div>
    <br />

    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del pedido</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.periodo, "Período", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("periodo", DateTime.Today.ToString("MMMM - yyyy"), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today })
                                        @Html.ValidationMessageFor(model => model.periodo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaGeneracion, "Fecha Generación", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("fechaGeneracion", DateTime.Today.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today })
                                        @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospitalId, "Hospital", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("nombreHospital", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.hospital.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospital.presupuesto, "Presupuesto", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div id="container" class="col-md-12">
                                        @Html.TextBox("presupuesto", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control", @id = "presupuesto" })
                                        <div>
                                            <span id="presuSpan" name="presuSpan" class="text-danger"></span>
                                        </div>
                                        @*@Html.Action("getPresupuesto", "HospitalController", new { idHospital = 0 })
                                            <text id="presupuesto" class="form-control"></text>
                                            @Html.TextBox("presupuesto",null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @id = "presupuesto" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        @*Detalle del pedido*@
        <div class="row">
            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                    <div class="form-card__content group">
                        <div class="form-group">
                            <h3 class="col-md-7"><strong>Listado de Insumos</strong></h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="detalles" class=" table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="width:17%">Nombre</th>
                                                <th style="width:14%">Tipo </th>
                                                <th style="width:17%" class="text-center">Cantidad Solicitada</th>
                                                <th style="width:20%" class="text-center">Cantidad Autorizada</th>
                                                <th style="width:16%" class="text-center">Precio Unitario</th>
                                                <th style="width:16%" class="text-center">Subtotal</th>
                                            </tr>
                                        </thead>

                                        @{ var subtotal = "";}
                                        <tbody name="detallesPedido" id="detallesPedido">
                                            @foreach (var item in detallesPedido)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name="@item.pedidoId" value="@item.pedidoId">
                                                        @item.pedidoId;
                                                        <input type="hidden" name="@item.insumoId" value="@item.insumoId">
                                                        <input type="hidden" name="@item.insumo.nombre" value="@item.insumo.nombre">
                                                        @item.insumo.nombre;
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="@item.insumo.tiposInsumo.nombre" value="@item.insumo.tiposInsumo.nombre">
                                                        @item.insumo.tiposInsumo.nombre;
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="@item.cantidad" value="@item.cantidad">
                                                        @item.cantidad;
                                                    </td>
                                                    <td>
                                                        <input type="number" name="@item.cantidadAutorizada" min="0" max="@item.cantidad" value="@item.cantidad">
                                                        @item.cantidadAutorizada;
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="@item.insumo.precioUnitario" value="@item.insumo.precioUnitario">
                                                        @item.insumo.precioUnitario;
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="subtotal" value="subtotal">
                                                        @subtotal;
                                                    </td>
                                                </tr>
                                            }

                                    </table>
                                    @*<div class="form-group">*@
                                    <div class="pull-rigth col-md-2" id="cuadritos1"  style="padding-right:10px">
                                        <div class="panel panel-DEFAULT text-center">
                                            @*<div class="panel-heading">INSUMOS</div>*@
                                            <div class="panel-body">
                                                @Html.Label("Total Solicitado", null, htmlAttributes: new { @class = "control-label" })
                                                <strong>
                                                    @Html.TextBox("total", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                    @*Boton para autorizar*@
                                   

                                </div>
                            </div>
                            <div class=" pull-right col-md-2">
                                <input type="button" value="Autorizar" id="Autorizacion" class="btn btn-round btn-success" data-toggle="modal" data-target="#myModal" />
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
                   
@Html.TextBox("hospitalId", Model.hospitalId, htmlAttributes: new { @readonly = "readonly", @type = "hidden", @name = "hospitalId" })
@Html.HiddenFor(model => model.id, htmlAttributes: new { @id = "idPedido", @name = "id" })
}

            

<br />
<div class="container">
    @Html.ActionLink("Volver al Listado", "Listado")
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var idHospital = $('#hospitalId').val();
            //console.log(idHospital);
            var urlHospital = '/Pedidos/GetHospital' + '?hospitalId=' + idHospital;
            $.get(urlHospital, null, function (data) {
                //console.log(data);
                $('#nombreHospital').val(data[0]);
                var $presupuesto = parseFloat(data[1]);
                var $presupuestoAMostrar = new Intl.NumberFormat('de-DE').format($presupuesto);
                $('#presupuesto').val("$" + $presupuestoAMostrar);

            });
        })
        $(document).ready(function () {
            var indice = $('#detallesPedido > tr').not('.empty').length;
            var idPedido = $('#idPedido').val();
            console.log(idPedido);
            var urlDetalle = '/Pedidos/GetDetalles' + '?idPedido=' + idPedido;
            $.get(urlDetalle, null, function (lista) {
                var total = 0;
                //console.log(lista);
                for (var i = 0, len = lista.length; i < len; i++) {
                    var data = lista[i];
                    /*Antiguo metodo de mostrar y editar los detalles
                    var $tdInsumo = $('<td>').append(item.nombre);
                     var $tdTipo = $('<td>').append(item.tipo);
                     var $tdCantidad = $('<td>').append(item.cantidad);
                     var $cantidadAutorizada = $('<input>').attr('type', 'number').attr('min', '0').attr('max', item.cantidad).attr('value', item.cantidad).attr('name', 'cantidadAutorizada[' + i + ']');
                     var $tdCantidadAutorizada = $('<td>').append($cantidadAutorizada);
                    var $tdPrecioUnitario = $('<td>').append(item.precio);
                    var subtotal = item.precio * item.cantidad;
                    var $tdSubtotal = $('<td>').append(subtotal);
                    var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAutorizada, $tdPrecioUnitario, $tdSubtotal);
                    total += subtotal;
                    $('#detalles').append($tr);*/
                    var $pedidoId = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][pedidoId]').val(data.pedidoId);
                    var $insumoId = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumoId]').val(data.insumoId);
                    var $nombre = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][nombre]').val(data.nombre);
                    var $tdInsumo = $('<td>').html(data.nombre).append($pedidoId, $insumoId, $nombre);

                    var $tipo = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][tiposInsumo][nombre]').val(data.tipo);
                    var $tdTipo = $('<td>').html(data.tipo).append($tipo);

                    var $precioAMostrar = new Intl.NumberFormat('de-DE').format(data.precioUnitario);

                    var $precioUnitario = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][precioUnitario]').val($precioAMostrar);
                    var $tdPrecioUnitario = $('<td align="center">').html("$" +$precioAMostrar).append($precioUnitario);

                    var $cantidad = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][cantidad]').val(data.cantidad);
                    var $tdCantidad = $('<td align="center">').html(data.cantidad).append($cantidad);

                    var $cantidadAut = $('<input  style="text-align:center">').attr('type', 'number').attr('min', '0').attr('max', data.cantidad).attr('value', data.cantidad).attr('name', 'detallesPedido[' + indice + '][cantidadAutorizada]');
                    var $tdCantidadAut = $('<td align="center">').append($cantidadAut);

                    var $subtotalCalculado = data.precioUnitario * data.cantidad;
                    var $subtotalAMostrar = new Intl.NumberFormat('de-DE').format($subtotalCalculado);

                    var $subtotal = $('<input>').attr('type', 'hidden').attr('name', 'subtotal').val($subtotalAMostrar);
                    var $tdSubtotal = $('<td align="center">').html('$' + $subtotalAMostrar)

                    var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAut, $tdPrecioUnitario, $tdSubtotal);
                    $('#detallesPedido').append($tr);
                    total += $subtotalCalculado;
                    indice++;

                }
                // $('#total').val(total);
                var $totalAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(total).toFixed(2));
                $('#total').val("$" + $totalAMostrar);
                if (parseFloat($('#presupuesto').val().replace("$", "").replace(".", "")) < total) {
                    $('#presuSpan').text("El costo del pedido supera el presupuesto");
                    console.log($('#presupuesto').val().replace("$", ""));
                }
            });
        })
    </script>
}
