@model SIAH.Models.Pedidos.Pedido
@{
    ViewBag.Title = "Autorizacion";
}

<h2>Autorizar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.hospital.nombre)
            </dt>

            <dd>
                @Html.TextBox("nombreHospital", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.periodo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.periodo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaGeneracion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaGeneracion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaEntrega)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaEntrega)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.esUrgente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.esUrgente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estaAutorizado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estaAutorizado)
            </dd>

        </dl>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Autorizar" id="Autorizacion" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Html.TextBox("idHospital", Model.hospitalId, htmlAttributes: new { @readonly = "readonly", @type = "hidden" })
@section Scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        var idHospital = $('#idHospital').val();
        console.log(idHospital);
        var urlHospital = '/Pedidos/GetHospital' + '?hospitalId=' + idHospital;
        $.get(urlHospital, null, function (data) {
            console.log(data);
            $('#nombreHospital').val(data);
        });
    });

    </script>
}
