@model SIAH.Models.Pedidos.Pedido

@{
    ViewBag.Title = "Create";
}
@*<div class="main ">*@
<div class="container" style="background-color: white">

    @using (Html.BeginForm(new { enctype = "multipart/form-data" }))
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Pedido</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.periodo, "Período", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.periodo, new { @class = "form-control datepicker", placeholder = "Ingrrese una fecha", @id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.periodo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaGeneracion, "Fecha Generación", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.TextBox("fechaGeneracion", DateTime.Today.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaEntrega, "Fecha Entrega", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.fechaEntrega, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaEntrega, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.hospitalId, "Hospital", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.DropDownList("hospitalId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.hospitalId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.esUrgente, "Urgente", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @Html.CheckBoxFor(model => model.esUrgente)
                        @Html.ValidationMessageFor(model => model.esUrgente, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estaAutorizado, "Autorizado", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="check">
                        @Html.CheckBoxFor(model => model.esUrgente)
                        @Html.ValidationMessageFor(model => model.estaAutorizado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="row">
                    @*<label class="control-label">Selecciona un tipo de insumo</label>
                    <select class="form-control" id="tipo">
                        @foreach (var item in ViewData["tipoInsumo"] as IEnumerable<TipoInsumo>)
                        {
                            <option value="@item.Value">@item.Selected</option>
                        }
                    </select>*@
                    @Html.Label("Tipo Insumo", null, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7">
                        @Html.DropDownList("tipoInsumo", ViewData["tipoInsumo"] as IEnumerable<SelectListItem>, "Selecciona un tipo", htmlAttributes: new { @class = "form-control col-md-3", @id = "tipo" })
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.Label("Cantidad", null, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7">
                        @Html.TextBox("Cantidad", null, htmlAttributes: new { @class = "form-control", @id = "cantidad" })
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.LabelFor(model => model.detallesPedido, "Insumo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.detallesPedido, new { @class = "form-control buscador", @id = "q" })
                    </div>
                </div>
            </div>
            @*Campo auxiliar para guardar el ID del insumo a agregar*@
                <div class="col-md-7">
                    @Html.TextBox("idInsumo", 0, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @type = "hidden" })
                </div>
           
            <div class="col-md-offset-2 col-md-10">
                <input id="btn_addInsumo"type="button" value="Agregar Insumo" class="btn btn_addInsumo" />
            </div>
            <br>
            <div class="form-group">
                <h4 class="col-md-offset-2 col-md-7">Listado de Insumos</h4>
                <table class="col-md-offset-2 col-md-7">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th width="40px">Acciones</th>
                        </tr>
                    </thead>
                    @using SIAH.Models.Pedidos;
                    @{List<DetallePedido> detallesPedido = new List<DetallePedido>();}
                    <tbody name="detallesPedido" id="detallesPedido">
                        @if (detallesPedido != null)
                        {
                            for (var i = 0; i < detallesPedido.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" name="@detallesPedido[i].insumo.id" value="@detallesPedido[i].insumo.id">
                                        <input type="hidden" name="@detallesPedido[i].insumo.nombre" value="@detallesPedido[i].insumo.nombre">
                                        @detallesPedido[i].insumo.nombre;
                                    </td>
                                    <td>
                                        <input type="hidden" name="@detallesPedido[i].insumo.tiposInsumo.nombre" value="@detallesPedido[i].insumo.tiposInsumo.nombre">
                                        @detallesPedido[i].insumo.tiposInsumo.nombre;
                                    </td>
                                    <td>
                                        <input type="hidden" name="@detallesPedido[i].cantidad" value="@detallesPedido[i].cantidad">
                                        @detallesPedido[i].cantidad;
                                    </td>
                                    <td>
                                        <input type="hidden" name="@detallesPedido[i].insumo.precioUnitario" value="@detallesPedido[i].insumo.precioUnitario">
                                        @detallesPedido[i].insumo.precioUnitario;
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-eliminar-detallesPedido">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }

                        <tr class="empty well text-center" style="display: @(detallesPedido.Count > 0 ? "none" : "") ">
                            <td colspan="5">Aun no se han agregado insumos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar Pedido" class="btn btn-default" />
                </div>
            </div>
        </div>
                        }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {

        <script type="text/javascript">
            //$(function () { // will trigger when the document is ready
            //    $('.datepicker').datepicker(); //Initialise any date pickers
            //})
            $(document).ready(function () {
                var indice = $('#detallesPedido > tr').not('.empty').length;
                $("#q").autocomplete({
                    minLength: 1,
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("../Insumos/BuscarInsumos")',
                                        dataType: "json",
                                        type: "GET",
                                        contentType: "application/json; charset=utf-8",
                                        data: {
                                            term: request.term,
                                            id: $('#tipo').val()
                                        },
                                        success: function (data) {
                                            response(data);
                                        }
                                    });
                                },
                                select: function (event, p) {
                                    $('#q').val(p.item.nombre);
                                    $('#idInsumo').val(p.item.id);

                                    /*if ($('#detallesPedido .empty').is(':visible')) {
                                        $('#detallesPedido .empty').hide();
                                    }*/

                                   // console.log(p.item);
                                /*  var $insumoId = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][id]').val(p.item.id);
                                  var $nombre = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][nombre]').val(p.item.nombre);
                                  var $tdInsumo = $('<td>').html(p.item.nombre).append($insumoId, $nombre);

                                  var $tipo = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][tipoInsumo][nombre]').val($tipo);
                                  var $tdTipo = $('<td>').html(p.item.tipo).append($tipo);
                                  var $precioUnitario = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][precioUnitario]').val(p.item.precioUnitario);
                                  var $tdPrecioUnitario = $('<td>').html(p.item.precioUnitario).append($precioUnitario);
                                  var $cantidad = $('<input>').attr('type', 'hidden').attr('name', 'cantidad').val($cantidad);
                                  var $tdCantidad = $('<td>').html($('#cantidad').val()).append($cantidad);
                                  var $boton = $('<button>').attr('type', 'button').addClass('btn btn-danger btn-eliminar-detallesPedido').append($('<i>').addClass('glyphicon glyphicon-trash'));
                                  var $tdAccion = $('<td>').append($boton);
                                  var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdPrecioUnitario, $tdAccion);
                                   $('#detallesPedido').append($tr);
                                   indice++;*/
                                    return false;
                                }
                            }).autocomplete("instance")._renderItem = function (ul, item) {
                                return $("<li>")
                                    .append("<div><strong>" + item.nombre + "</strong><br><em>" + item.tipo + "</em></div>")
                                    .appendTo(ul);
                            }
                            $(document).on('click', '.btn-eliminar-detallesPedido', function () {
                                $(this).parents('tr').remove();
                                indice--;
                                if ($('#detallesPedido > tr').not('.empty').length == 0) {
                                    $('#detallesPedido .empty').show();
                                }
                            });
                        //Boton para agregar insumo a la lista (no funciona aun) (ya trae el insumo que fue seleccionado)
                            $(document).on('click', '.btn_addInsumo', function () {
                                var indice = $('#detallesPedido > tr').not('.empty').length;
                                $.ajax({
                                    url: '@Url.Action("../Insumos/BuscarInsumoParaAgregar")',
                                    dataType: "json",
                                    type: "GET",
                                    contentType: "application/json; charset=utf-8",
                                    data: {
                                        id: $('#idInsumo').val(),
                                        idTipo: $('#tipo').val()
                                    },
                                    success: function (data) {
                                        if ($('#detallesPedido .empty').is(':visible')) {
                                            $('#detallesPedido .empty').hide();
                                        }
                                       // console.log(p);
                                        var item = data[0];
                                        var $insumoId = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][id]').val(item.id);
                                        var $nombre = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][nombre]').val(item.nombre);
                                        var $tdInsumo = $('<td>').html(item.nombre).append($insumoId, $nombre);

                                        var $tipo = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][tipoInsumo][nombre]').val($tipo);
                                        var $tdTipo = $('<td>').html(item.tipo).append($tipo);
                                        var $precioUnitario = $('<input>').attr('type', 'hidden').attr('name', 'detallesPedido[' + indice + '][insumo][precioUnitario]').val(item.precioUnitario);
                                        var $tdPrecioUnitario = $('<td>').html(item.precioUnitario).append($precioUnitario);
                                        var $cantidad = $('<input>').attr('type', 'hidden').attr('name', 'cantidad').val($cantidad);
                                        var $tdCantidad = $('<td>').html($('#cantidad').val()).append($cantidad);
                                        var $boton = $('<button>').attr('type', 'button').addClass('btn btn-danger btn-eliminar-detallesPedido').append($('<i>').addClass('glyphicon glyphicon-trash'));
                                        var $tdAccion = $('<td>').append($boton);
                                        var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdPrecioUnitario, $tdAccion);
                                        $('#detallesPedido').append($tr);
                                        indice++;
                                        $('#q').val('');
                                        $('#cantidad').val('');
                                    }
                                });


                               
                            });
                            });
        </script>
    }

</div>
@*</div>*@
