@model SIAH.Models.Pedidos.Pedido

@{
    ViewBag.Title = "Detalle del pedido";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


@using (Html.BeginForm())
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-lg-12">
                <h1>Detalle del pedido Nº: @Html.DisplayFor(model => model.id)</h1>
                <div class="banner-catalog__content"> Información general del pedido.</div>
            </div>
        </div>
    </div>
    <br />

    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del pedido</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.periodo, "Período", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("periodo", DateTime.Today.ToString("MMMM - yyyy"), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today })
                                        @Html.ValidationMessageFor(model => model.periodo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospitalId, "Hospital", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("nombreHospital", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.hospital.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospital.presupuesto, "Presupuesto", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div id="container" class="col-md-12">
                                        @Html.TextBox("presupuesto", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control", @id = "presupuesto" })
                                        <div> <span id="presuSpan" name="presuSpan" class="text-danger"></span></div>
                                        <div><span id="autoSpan" name="autosSpan" class="text-success"></span></div>
                                        @*@Html.Action("getPresupuesto", "HospitalController", new { idHospital = 0 })
                                            <text id="presupuesto" class="form-control"></text>
                                            @Html.TextBox("presupuesto",null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @id = "presupuesto" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaGeneracion, "Fecha Generación", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.fechaGeneracion, Model.fechaGeneracion.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaEntrega, "Fecha Entrega", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @if (Model.fechaEntrega != null)
                                        {
                                            @Html.TextBoxFor(model => model.fechaEntrega, Model.fechaEntrega.Value.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })
                                        }
                                        else
                                        {
                                            @Html.TextBox("fechaEntrega", "Pedido No Autorizado", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                        <div class="form-card__title alert-header">
                            <div class="alert-icon">
                                <i class="material-icons">warning</i>
                                <strong>Pedido Urgente!</strong>
                            </div>
                        </div>

                        <div class="form-card__content group">
                            <div class="form-group text-center">
                                @if (Model.esUrgente)
                                {
                                    <h4 class="text-danger"><strong>Este pedido es Urgente </strong></h4>
                                }
                                else
                                {
                                    <h4><strong>Este pedido no es Urgente </strong></h4>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr />



            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title  purple-header">
                            <div class="alert-icon">
                                <i class="material-icons">room</i>
                                <strong>Estado actual del pedido</strong>
                            </div>
                        </div>



                        <div class="form-card__content group">
                            <div class="row bs-wizard" style="border-bottom:0;">

                                @switch (Model.estadoId)
                                {
                                    case 1:
                                        <div class="col-xs-3 bs-wizard-step active">
                                            <div class="text-center bs-wizard-stepnum">
                                          
                                                    <i class="material-icons ">send</i><br /> Generado
                                                
                                            </div>
                                      
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center">Su pedido está siendo verificado por la Oficina de Autorizaciones Hospitalarias</div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step disabled">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum"><i class="material-icons">spellcheck</i> <br /> Autorizado</div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"> </div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step disabled">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum"><i class="material-icons">local_shipping</i> <br />En proceso de Envío</div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step disabled">
                                            <!-- active -->
                                            <div class="text-center bs-wizard-stepnum"> <i class="material-icons">check_circle</i> <br />Recibido</div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>
                                        break;


                                    case 2:
                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="text-center bs-wizard-stepnum">
                                               
                                                    <i class="material-icons">send</i><br /> Generado
                                               
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step active">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                                <div class="icon soft-warning">
                                                    <i class="material-icons soft-warning">spellcheck</i> <br /> Autorizado
                                                </div>
                                            </div>
                                       
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center">Su pedido cumple con los requisitos establecidos y fue aprobado por la Oficina de Autorizaciones Hospitalarias</div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step disabled">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum"><i class="material-icons">local_shipping</i> <br />En proceso de Envío</div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step disabled">
                                            <!-- active -->
                                            <div class="text-center bs-wizard-stepnum"> <i class="material-icons">check_circle</i> <br />Recibido</div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>
                                        break;


                                    case 3:
                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="text-center bs-wizard-stepnum">
                                               
                                                    <i class="material-icons">send</i><br /> Generado
                                                
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                     
                                                    <i class="material-icons">spellcheck</i> <br /> Autorizado
                                           
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"> </div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step active">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                                <div class="icon icon-info">
                                                    <i class="material-icons">local_shipping</i> <br />En proceso de Envío
                                                </div>
                                            </div>
                         
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center">Este pedido fue cargado en Ocasa para su envío</div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step disabled">
                                            <!-- active -->
                                            <div class="text-center bs-wizard-stepnum"> <i class="material-icons">check_circle</i> <br />Recibido</div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>
                                        break;



                                    case 5:
                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="text-center bs-wizard-stepnum">
                                               
                                                    <i class="material-icons ">send</i><br /> Generado
                                              
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                               
                                                    <i class="material-icons">spellcheck</i> <br /> Autorizado
                                               
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"> </div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                             
                                                    <i class="material-icons  ">local_shipping</i> <br />En proceso de Envío
                                             
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step active">
                                            <!-- active -->
                                            <div class="text-center bs-wizard-stepnum">
                                                <div class=" icon icon-success">
                                                    <i class="material-icons icon-success">check_circle</i> <br />Recibido
                                                </div>
                                            </div>
                                            
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center">Su pedido fue entregado</div>
                                        </div>
                                        break;



                                    case 4:
                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <div class="text-center bs-wizard-stepnum">
                                           
                                                    <i class="material-icons">send</i><br /> Generado

                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                            
                                                    <i class="material-icons">spellcheck</i> <br /> Autorizado
                                            
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"> </div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step complete">
                                            <!-- complete -->
                                            <div class="text-center bs-wizard-stepnum">
                                              
                                                    <i class="material-icons ">local_shipping</i> <br />En proceso de Envío
                                               
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center"></div>
                                        </div>

                                        <div class="col-xs-3 bs-wizard-step active">
                                            <!-- active -->
                                            <div class="text-center bs-wizard-stepnum">
                                                <div class=" icon icon-danger">
                                                    <i class="material-icons ">clear</i> <br />Cancelado
                                                </div>
                                            </div>
                                            <div class="progress"><div class="progress-bar"></div></div>
                                            <a href="#" class="bs-wizard-dot"></a>
                                            <div class="bs-wizard-info text-center">Su pedido ha sido cancelado, consulte a la Oficina de Autorizaciones Hospitalarias para más información.</div>
                                        </div>
                                        break;
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @*Detalle del pedido*@
        <div class="row">
            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight animated zoomIn">
                    <div class="form-card__content group">
                        <div class="form-group">
                            <h3 class="col-md-7">Listado de Insumos</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="detalles" class=" table table-hover table-condensed">
                                        <thead>
                                            <tr style="font-weight:bold" >
                                                <th style="width:30%; font-weight:bold ">Nombre</th>
                                                <th style="width:16%; font-weight:bold">Tipo </th>
                                                <th style="width:17%; font-weight:bold" class="text-center">Cantidad Solicitada</th>
                                                <th style="width:17%; font-weight:bold" class="text-center">Cantidad Autorizada</th>
                                                <th style="width:15%; font-weight:bold" class="text-center">Precio Unitario</th>
                                                @*<th style="width:13%">Subtotal</th>*@
                                                <th style="width:15%; font-weight:bold" text-align="center">Subtotal Autorizado</th>
                                            </tr>
                                        </thead>

                                        <tbody name="detallesPedido" id="detallesPedido">
                                            @*<tr class="empty well text-center">
                                                    <td colspan="6">Aun no se han agregado insumos</td>
                                                </tr>*@
                                        </tbody>
                                    </table>

                                    @*Boton para autorizar*@
                                    <div class="form-group ">
                                        <div class="pull-right" id="cuadritos1" style="width: 13%; height:116px">
                                            <div class="panel panel-DEFAULT text-center">
                                                @*<div class="panel-heading">INSUMOS</div>*@
                                                <div class="panel-body">
                                                    @Html.Label(" Total Autorizado", null, htmlAttributes: new { @class = "control-label" })
                                                    <strong>
                                                        @Html.TextBox("totalAutorizado", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        &nbsp &nbsp
                                        <div class="pull-rigth" id="cuadritos1" style="width: 13%; padding-right:10px">
                                            <div class="panel panel-DEFAULT text-center">
                                                @*<div class="panel-heading">INSUMOS</div>*@
                                                <div class="panel-body">
                                                    @Html.Label("Total Solicitado", null, htmlAttributes: new { @class = "control-label" })
                                                    <strong>
                                                        @Html.TextBox("total", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.TextBox("idHospital", Model.hospitalId, htmlAttributes: new { @readonly = "readonly", @type = "hidden" })
    @Html.HiddenFor(model => model.id, htmlAttributes: new { @id = "idPedido" })
}
<div class="container">
    @Html.ActionLink("Volver al Listado", "Listado")
</div>
@*<div class="container">
    @if (Session["rol"].ToString() == "RespAutorizacion")
    {
        @Html.ActionLink("Volver al Dashboard", "RespAutorizacion","Home")
    }
    @if (Session["rol"].ToString() == "RespFarmacia")
    {
        @Html.ActionLink("Volver al Dashboard", "RespFarmacia")
    }
 
</div>*@

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var idHospital = $('#idHospital').val();
            //console.log(idHospital);
            var urlHospital = '/Pedidos/GetHospital' + '?hospitalId=' + idHospital;
            $.get(urlHospital, null, function (data) {
                //console.log(data);
                $('#nombreHospital').val(data[0]);
                var $presupuesto = parseFloat(data[1]);
                var $presupuestoAMostrar = new Intl.NumberFormat('de-DE').format($presupuesto);
                $('#presupuesto').val("$" + $presupuestoAMostrar);
            });
        })
        $(document).ready(function () {

            var idPedido = $('#idPedido').val();
            console.log(idPedido);
            var urlDetalle = '/Pedidos/GetDetalles' + '?idPedido=' + idPedido;
            $.get(urlDetalle, null, function (lista) {
                var total = 0;
                var totalAutorizado = 0;
                for (var i = 0, len = lista.length; i < len; i++) {
                    var item = lista[i];
                    //console.log(item);
                    var $tdInsumo = $('<td  style="width:30%">').append(item.nombre);

                    var $tdTipo = $('<td  style="width:16%">').append(item.tipo);

                    var $tdCantidad = $('<td  style="width:17%" align="center">').append(item.cantidad);
                    var $tdCantidadAutorizada = $('<td align="center">').append(item.cantidadAutorizada);

                    var $precioAMostrar = new Intl.NumberFormat('de-DE').format(item.precioUnitario);
                    var $tdPrecioUnitario = $('<td  style="width:17%" align="center">').append("$" + $precioAMostrar);

                    var $subtotalCalculado = item.precioUnitario * item.cantidad;
                    var $subtotalAMostrar = new Intl.NumberFormat('de-DE').format($subtotalCalculado);

                    //var $tdSubtotal = $('<td  style="width:15%" align="center">').html('$' + $subtotalAMostrar)

                    var $subtotalAutorizado = item.precioUnitario * item.cantidadAutorizada;
                    var $subtotalAutAMostrar = new Intl.NumberFormat('de-DE').format($subtotalAutorizado);
                    var $tdSubtotalAutorizado = $('<td  style="width:15%" align="center">').append("$" + $subtotalAutAMostrar);

                    var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAutorizada, $tdPrecioUnitario, $tdSubtotalAutorizado);
                    total += $subtotalCalculado;
                    totalAutorizado += $subtotalAutorizado;
                    $('#detalles').append($tr);
                }
                var $totalAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(total).toFixed(2));
                var $totalAutorizadoAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(totalAutorizado).toFixed(2));
                $('#total').val("$" + $totalAMostrar);
                $('#totalAutorizado').val("$" + $totalAutorizadoAMostrar);
                if (parseFloat($('#presupuesto').val().replace("$", "").replace(".", "")) < total) {
                    $('#presuSpan').text("El costo del pedido supera el presupuesto");
                    //console.log($('#presupuesto').val().replace("$", ""));
                }
                if (parseFloat($('#presupuesto').val().replace("$", "").replace(".", "")) > totalAutorizado) {
                    $('#autoSpan').text("El costo autorizado está dentro del presupuesto");
                } else {
                    $('#autoSpan').attr("class", "text-danger").text("El costo autorizado supera el presupuesto");
                }

            });
        });

    </script>
}
