@model SIAH.Models.Pedidos.Pedido

@{
    ViewBag.Title = "Detalle del pedido";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


@using (Html.BeginForm())
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-lg-12">
                <h1>Detalle del pedido @Html.DisplayFor(model => model.id)</h1>
                <div class="banner-catalog__content"> El estado actual del pedido es: @ViewBag.estado.</div>
            </div>
        </div>
    </div>
    <br />

    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight">
                        <div class="form-card__title info-header">
                            <div class="alert-icon">
                                <i class="material-icons">info_outline</i>
                                <strong>Información general del pedido</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.periodo, "Período:", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("periodo", DateTime.Today.ToString("MMMM - yyyy"), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today })
                                        @Html.ValidationMessageFor(model => model.periodo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fechaGeneracion, "Fecha Generación:", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("fechaGeneracion", DateTime.Today.ToShortDateString(), htmlAttributes: new { @class = "form-control", @readonly = "readonly", @value = DateTime.Today })
                                        @Html.ValidationMessageFor(model => model.fechaGeneracion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospitalId, "Hospital:", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div class="col-md-12">
                                        @Html.TextBox("nombreHospital", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.hospital.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.hospital.presupuesto, "Presupuesto:", htmlAttributes: new { @class = "control-label col-md-12 tota" })
                                    <div id="container" class="col-md-12">
                                        @Html.TextBox("presupuesto", null, htmlAttributes: new { @readonly = "readonly", @class = "form-control", @id = "presupuesto" })
                                        <div>
                                            <span id="presuSpan" name="presuSpan" class="text-danger"></span>
                                        </div>
                                        @*@Html.Action("getPresupuesto", "HospitalController", new { idHospital = 0 })
                                            <text id="presupuesto" class="form-control"></text>
                                            @Html.TextBox("presupuesto",null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @id = "presupuesto" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        @*Detalle del pedido*@
        <div class="row">
            <div class="col-md-12">
                <div class="form-card form-card--purple form-card--tight ">
                    <div class="form-card__content group">
                        <div class="form-group">
                            <h3 class="col-md-7"><strong>Listado de Insumos</strong></h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="detalles" class=" table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="width:17%">Nombre</th>
                                                <th style="width:14%">Tipo </th>
                                                <th style="width:17%">Cantidad Pedido</th>
                                                <th style="width:20%">Cantidad Autorizada</th>
                                                <th style="width:16%">Precio Unitario</th>
                                                <th style="width:16%">Subtotal</th>
                                            </tr>
                                        </thead>
                                        
                                            <tbody name="detallesPedido" id="detallesPedido">
                                                @*<tr class="empty well text-center">
                                                    <td colspan="6">Aun no se han agregado insumos</td>
                                                </tr>*@
                                            </tbody>
                                    </table>

                                    @*Boton para autorizar*@
                                    <div class="form-group ">
                                        <div class="pull-right" id="cuadritos1" style="width: 13%; height:116px">
                                            <div class="panel panel-DEFAULT text-center">
                                                @*<div class="panel-heading">INSUMOS</div>*@
                                                <div class="panel-body">
                                                    @Html.Label(" Total Aut", null, htmlAttributes: new { @class = "control-label" })
                                                    <strong>
                                                        @Html.TextBox("totalAutorizado", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-rigth" id="cuadritos1" style="width: 13%">
                                            <div class="panel panel-DEFAULT text-center">
                                                @*<div class="panel-heading">INSUMOS</div>*@
                                                <div class="panel-body">
                                                    @Html.Label("Total", null, htmlAttributes: new { @class = "control-label" })
                                                    <strong>
                                                        @Html.TextBox("total", 0, htmlAttributes: new { @readonly = "readonly", @class = "form-control text-center tot" })
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.TextBox("idHospital", Model.hospitalId, htmlAttributes: new { @readonly = "readonly", @type = "hidden" })
    @Html.HiddenFor(model => model.id, htmlAttributes: new { @id = "idPedido" })
}

<div class="container">
    @Html.ActionLink("Volver al Listado", "Listado")
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var idHospital = $('#idHospital').val();
            //console.log(idHospital);
            var urlHospital = '/Pedidos/GetHospital' + '?hospitalId=' + idHospital;
            $.get(urlHospital, null, function (data) {
                //console.log(data);
                $('#nombreHospital').val(data[0]);
                $('#presupuesto').val("$" + data[1]);
            });
        })
        $(document).ready(function () {

            var idPedido = $('#idPedido').val();
            console.log(idPedido);
            var urlDetalle = '/Pedidos/GetDetalles' + '?idPedido=' + idPedido;
            $.get(urlDetalle, null, function (lista) {
                var total = 0;
                var totalAutorizado = 0;
                for (var i = 0, len = lista.length; i < len; i++) {
                    var item = lista[i];
                    console.log(item);
                    var $tdInsumo = $('<td>').append(item.nombre);

                    var $tdTipo = $('<td>').append(item.tipo);

                    var $tdCantidad = $('<td>').append(item.cantidad);
                    var $tdCantidadAutorizada = $('<td>').append(item.cantidadAutorizada);

                    var $precioAMostrar = new Intl.NumberFormat('de-DE').format(item.precioUnitario);
                    var $tdPrecioUnitario = $('<td>').append($precioAMostrar);

                    var $subtotalCalculado = item.precioUnitario * item.cantidad;
                    var $subtotalAMostrar = new Intl.NumberFormat('de-DE').format($subtotalCalculado);
                    
                    var $tdSubtotal = $('<td>').html('$' + $subtotalAMostrar)

                    var $subtotalAutorizado = item.precioUnitario * item.cantidadAutorizada;
                    var $subtotalAutAMostrar = new Intl.NumberFormat('de-DE').format($subtotalAutorizado);
                    var $tdSubtotalAutorizado = $('<td>').append($subtotalAutAMostrar);

                    var $tr = $('<tr>').append($tdInsumo, $tdTipo, $tdCantidad, $tdCantidadAutorizada, $tdPrecioUnitario, $tdSubtotal, $tdSubtotalAutorizado);
                    total += $subtotalCalculado;
                    totalAutorizado += $subtotalAutorizado;
                    $('#detalles').append($tr);
                }
                var $totalAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(total).toFixed(2));
                var $totalAutorizadoAMostrar = new Intl.NumberFormat('de-DE').format(parseFloat(totalAutorizado).toFixed(2));
                $('#total').val("$" + $totalAMostrar);
                $('#totalAutorizado').val("$"+$totalAutorizadoAMostrar);
                if (parseFloat($('#presupuesto').val().replace("$", "")) < total) {
                    $('#presuSpan').text("El costo del pedido supera el presupuesto");
                    console.log($('#presupuesto').val().replace("$", ""));
                }
               
            });
        });

    </script>
}
