@model IEnumerable<SIAH.Models.Pedidos.Pedido>



@{
    ViewBag.Title = "Listado de Pedidos";
    //WebGrid grid = new WebGrid(Model);
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<script type="text/javascript">
    window.addEventListener("load", function () {
        $('#myModal').modal({ show: true });
    })

</script>
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Listado de Pedidos</h1>
            <div class="banner-catalog__content"> Autorice los pedidos pendientes verificando el detalle de cada uno.</div>
        </div>
    </div>
</div>
<div class="container" style=" padding-bottom: 30px;">

    <div class="form-horizontal">


        <br>
        @*@grid.GetHtml();*@
        <div class="row">



            <div class="col-lg-12">
                <div id="alertArea">
                    <div class="alert alert-info pq-alert">
                        <i class="fa fa-arrow-right"></i>
                        <span>Seleccione un Pedido para ver su detalle o Autorizarlo</span>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight ">
                        <div class="form-card__content group">
                            <div id="cuadritos" class="container">
                                <ul class="nav nav-pills nav-stacked pull-right left">
                                    <li class="text-info">
                                        <a class="list-group-item-warning">
                                            <span class="badge pull-right"></span>
                                            Generado
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills nav-stacked pull-right right">
                                    <li class="text-info">
                                        <a class="list-group-item-success">
                                            <span class="badge pull-right"></span>
                                            Autorizado
                                        </a>
                                    </li>
                                </ul><ul class="nav nav-pills nav-stacked pull-right right">
                                    <li class="text-info">
                                        <a class="list-group-item-success">
                                            <span class="badge pull-right"></span>
                                            En Proceso de Envío
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <th class="text-center">
                                                @Html.Name("Nº Pedido")
                                            </th>
                                            <th class="text-center">
                                                @Html.Name("Fecha de Generación")
                                            </th>
                                            <th class="text-center">
                                                @Html.Name("Hospital")
                                            </th>
                                            <th class="text-center">
                                                @Html.Name("Urgente")
                                            </th>
                                            <th class="text-center">
                                                @Html.Name("Estado")
                                            </th>
                                            <th class="text-center">
                                                @Html.Name("Acciones")
                                            </th>


                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            switch (item.estadoId)
                                            {
                                                case 1:
                                                    <tr class="list-group-item-success">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.esUrgente == true)
                                                            {
                                                                <i class="material-icons">error</i>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="material-icons">send</i>
                                                        </td>
                                                        <td class="text-center">
                                                    
                                                            @Html.ActionLink("Ver detalle", "Details", new { id = item.id }) |
                                                            @Html.ActionLink("Autorizar", "Autorizacion", new { id = item.id })

                                                        </td>


                                                    </tr>
                                                    break;
                                                case 2:
                                                    <tr class="list-group-item-success">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.esUrgente == true)
                                                            {
                                                                <i class="material-icons">error</i>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="material-icons">spellcheck</i>
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver detalle", "Details", new { id = item.id }) |
                                                            <a href="#" class="escondido">Autorizar</a>

                                                        </td>
                                                    </tr>
                                                    break;
                                                case 3:
                                                    <tr class="list-group-item-success">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.esUrgente == true)
                                                            {
                                                                <i class="material-icons">error</i>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="material-icons">local_shipping</i>
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver detalle", "Details", new { id = item.id }) |
                                                            <a href="#" class="escondido">Autorizar</a>

                                                        </td>
                                                    </tr>
                                                    break;
                                                case 4:
                                                    <tr class="list-group-item-success">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.esUrgente == true)
                                                            {
                                                                <i class="material-icons">error</i>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="material-icons">clear</i>
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver detalle", "Details", new { id = item.id }) |
                                                            <a href="#" class="escondido">Autorizar</a>

                                                        </td>
                                                    </tr>
                                                    break;
                                                case 5:
                                                    <tr class="list-group-item-success">

                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.hospital.nombre)
                                                        </td>
                                                        <td class="text-center">
                                                            @if (item.esUrgente == true)
                                                            {
                                                                <i class="material-icons">error</i>
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="material-icons">check_circle</i>
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.ActionLink("Ver detalle", "Details", new { id = item.id }) |
                                                            <a href="#" class="escondido">Autorizar</a>

                                                        </td>
                                                    </tr>
                                                    break;

                                            }
                                        }

                                </table>
                            </div>
                        </div>
                            <a id="enviar" type="button" class="btn btn-success btn-round btn_export pull-right" href="@Url.Action("GenerateSendOcasa", "Pedidos")">Enviar a OCASA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
    @if (ViewBag.success == true)
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="alert alert-success">
                <div class="container-fluid">
                    <div class="alert-icon">
                        <i class="material-icons">check</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <strong>EL PEDIDO FUE AUTORIZADO EXITOSAMENTE</strong>
                </div>
            </div>
        </div>
    }

    else
if (ViewBag.success == false)
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="alert alert-danger">
                <div class="container-fluid">
                    <div class="alert-icon">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <strong>Ocurrió un Error inesperado: </strong> @ViewBag.problem <strong> (No se autorizo el pedido) </strong>
                </div>
            </div>
        </div>
    }
                                            @section Scripts {
                                                <script type="text/javascript">
                                                    $(document).on('click', '#enviar', function (event) {
                                                        setTimeout(function () { location.reload() }, 2000);
                                                    });
                                                </script>
                                            }
