@model IEnumerable<SIAH.Models.Pedidos.Pedido>
@{
    ViewBag.Title = "Inicio Responsable Farmacia";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.validacion = true;
    if (ViewBag.success == null)
    {
        ViewBag.success = false;
        ViewBag.validacion = false;

    }
}
<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-12">
            <h1>Mis Pedidos</h1>
            <div class="banner-catalog__content">Genere nuevos pedidos y revise el estado de los pedidos realizados.</div>
        </div>
    </div>
</div>
<div id="page" style="min-height: 363px;">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="row">
            <div class=" col-sm-12">

                <div class=" col-sm-10">
                    <div class="row">
                        <div class="col-lg-11">
                            <div id="alertArea  animated zoomIn">
                                <div class="alert alert-info pq-alert animated zoomIn">
                                    <i class="fa fa-arrow-right"></i>
                                    <span>Histórico de Pedidos del Hospital @Session["hospital"]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="alertArea  animated zoomIn">
                                <button class="btn btn-round btn-success  btn-lg pull-right animated zoomIn" id="nuevopedido" ">
                                    <strong class="">+ Nuevo Pedido</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-card form-card--purple form-card--tight  animated zoomIn">
                <div class="form-card__content group">
                    <div id="cuadritos" class="container col-md-12">
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="4" onclick="stateFilter('4')">
                                <a class="list-group-item-grey soft-grey" style="vertical-align:central" data-toggle="tooltip" title="El pedido fue cancelado antes de ser autorizado.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">clear</i>
                                    <span style="user-select: none">Cancelado</span>
                                    <div style="font-size: 14px;"><strong id="estado4">5</strong></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="5" onclick="stateFilter('5')">
                                <a class="list-group-item-success soft-success" style="vertical-align:central" data-toggle="tooltip" title="El pedido fue recibido por el hospital y confirmado.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">check_circle</i>
                                    <span style="user-select: none">Recibido</span>
                                    <div style="font-size: 14px;"><strong id="estado5">5</strong></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="7" onclick="stateFilter('7')">
                                <a class="list-group-item-danger soft-danger" style="vertical-align:central" data-toggle="tooltip" title="El pedido tiene un reclamo pendiente de resolución.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">error_outline</i>
                                    <span style="user-select: none">Reclamado</span>
                                    <div style="font-size: 14px;"><strong id="estado7">5</strong></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="6" onclick="stateFilter('6')">
                                <a class="list-group-item-info soft-info" style="vertical-align:central" data-toggle="tooltip" title="El pedido fue entregado al hospital y está pendiente de confirmación por parte del responsable de farmacia.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">markunread</i>
                                    <span style="user-select: none">Entregado</span>
                                    <div style="font-size: 14px;"><strong id="estado6">5</strong></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="3" onclick="stateFilter('3')">
                                <a class="list-group-item-orange soft-orange" style="vertical-align:central" data-toggle="tooltip" title="El pedido está siendo enviado por OCASA al hospital correspondiente.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">local_shipping</i>
                                    <span style="user-select: none">En Proceso de Envío</span>
                                    <div style="font-size: 14px;"><strong id="estado3">5</strong></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="2" onclick="stateFilter('2')">
                                <a class="list-group-item-warning soft-warning" style="vertical-align:central" data-toggle="tooltip" title="El pedido fue autorizado y se encuentra listo para que sus datos sean enviados a OCASA.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">spellcheck</i>
                                    <span style="user-select: none">Autorizado</span>
                                    <div style="font-size: 14px;"><strong id="estado2">5</strong></div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked pull-right" style="padding-right:5px">
                            <li class="text-info" id="1" onclick="stateFilter('1')">
                                <a class="list-group-item" style="vertical-align:central" data-toggle="tooltip" title="El pedido fue generado por el hospital y se encuentra listo para ser autorizado.">
                                    <i class="material-icons" style="padding: 0px; user-select: none">send</i>
                                    <span style="user-select: none">Generado</span>
                                    <div style="font-size: 14px;"><strong id="estado1">5</strong></div>
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-sm-9" style="padding-top:45px; padding-bottom:9px; padding-left:0px; padding-right:0px;">
                            <div class="col-sm-3" style="padding-left:5px; padding-right:0px; padding-top: 5px;">
                                @Html.Label("Desde:", htmlAttributes: new { @class = "control-label", @style = "font-size: 18px; font-weight: bold; color: #000000d1;" })
                                <input id="inicio" style="font-size:16px; padding-left: 10px; width: 95px; border: 0; background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
                                            background-size: 0 2px, 100% 1px; line-height: 1.82857; background-repeat: no-repeat; background-position: center bottom, center calc(100% - 1px); background-color: transparent;" placeholder="DD/MM/AAAA" value="@ViewBag.fechaInicio.ToString("dd/MM/yyyy")" readonly />
                            </div>

                            <div class="col-sm-3" style="padding-right:0px; padding-top: 5px;">
                                @Html.Label("Hasta:", htmlAttributes: new { @class = "control-label", @style = "font-size: 18px; font-weight: bold; color: #000000d1;" })
                                <input id="fin" style="font-size:16px; padding-left: 10px; width:95px; border: 0; background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
                                            background-size: 0 2px, 100% 1px; line-height: 1.82857; background-repeat: no-repeat; background-position: center bottom, center calc(100% - 1px); background-color: transparent;" placeholder="DD/MM/AAAA" value="@ViewBag.fechaFin.ToString("dd/MM/yyyy")" readonly />
                            </div>

                            <div class="col-sm-3" style="padding-left:15px;">
                                <button id="aplicarFiltros" class="btn btn-round btn-success" style="vertical-align:bottom">Aplicar Filtros</button><br />
                            </div>

                            <div class="col-sm-3" style="padding-left:15px;">
                                <button id="limpiarFiltros" class="btn btn-round btn-danger" style="vertical-align:bottom">Limpiar Filtros</button><br />
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="animated zoomIn col-md-12">

                        <div class="col-md-12">
                            <hr />
                            <div id="table-container">
                                <table id="maintable" class="table table-condensed">
                                    <thead class="listado">
                                        <tr class="text-center list-group-item-info">
                                            <th class="text-center">
                                                <strong> @Html.Name("Nº Pedido")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong> @Html.Name("Fecha Generación")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong> @Html.Name("Urgente")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong>  @Html.Name("Estado")</strong>
                                            </th>
                                            <th class="text-center">
                                                <strong>  @Html.Name("Acciones")</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        switch (item.estadoId)
                                        {
                                            case 1:
                                                <tr class="" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido fue generado por el hospital y se encuentra listo para ser autorizado.">
                                                            <i class="   material-icons " style="margin-right:13px">send</i>
                                                            <div> <strong>Generado  </strong></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 2:
                                                <tr class="list-group-item-warning" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido fue autorizado y se encuentra listo para que sus datos sean enviados a OCASA.">

                                                            <i class="icon-warning material-icons" style="margin-right:10px">spellcheck</i>
                                                            <div class="soft-warning"> <strong>Autorizado</strong></div>
                                                        </div>

                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 3:
                                                <tr class="list-group-item-orange" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido está siendo enviado por OCASA al hospital correspondiente.">

                                                            <i class="soft-orange material-icons " style="margin-right:10px">local_shipping</i>

                                                            <div class=" soft-orange"> <strong>En proceso de Envío</strong></div>
                                                        </div>

                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 4:
                                                <tr class="list-group-item-grey" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido fue cancelado antes de ser autorizado.">

                                                            <i class=" soft-grey material-icons " style="margin-right:10px">clear</i>
                                                            <div class=" soft-grey"> <strong>Cancelado</strong></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 5:
                                                <tr class="list-group-item-success" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido fue recibido por el hospital y confirmado.">

                                                            <i class="icon-success  material-icons" style="margin-right:10px">check_circle</i>
                                                            <div class=" soft-success"> <strong>Entregado y Recibido</strong></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 6:
                                                <tr class="list-group-item-info" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido fue entregado al hospital y está pendiente de confirmación por parte del responsable de farmacia.">

                                                            <i class="icon-info  material-icons" style="margin-right:10px">markunread</i>
                                                            <div class=" soft-info"> <strong>Entregado</strong></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 7:
                                                <tr class="list-group-item-danger" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido tiene un reclamo pendiente de resolución.">

                                                            <i class="icon-danger  material-icons " style="margin-right:10px">error_outline</i>
                                                            <div class=" soft-danger"> <strong>Reclamado</strong></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                            case 8:
                                                <tr class="list-group-item-success" onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'">

                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.DisplayFor(modelItem => item.fechaGeneracion)
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.esUrgente == true)
                                                        {
                                                            <i class="material-icons icon-danger">error</i>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <div data-toggle="tooltip" title="El pedido fue entregado y confirmado.">

                                                            <i class="icon-success  material-icons" style="margin-right:10px">check_circle</i>
                                                            <div class=" soft-success"> <strong>Entregado y Recibido</strong></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="button" value="Ver Detalle" class="btn btn-round btn-primary pull-center"
                                                               onclick="location.href='@Url.Action("Details", null, new { area = string.Empty, id = item.id, controller = "Pedidos" }, Request.Url.Scheme)'" />
                                                    </td>
                                                </tr>
                                                break;
                                        }
                                    }

                                </table>
                                <div id="bottom_anchor"></div>

                            </div>
                        </div>
                        <br><br>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.TextBox("idHospital", Session["hospitalId"], htmlAttributes: new { @readonly = "readonly", @type = "hidden" })

</div>
@section Scripts {
    <script type="text/javascript">
        var table;
        var stateFilterNumber = "@ViewBag.stateFilter";
        var oldStateFilter = "";
        var fechaInicio = "@ViewBag.fechaInicio";
        var fechaFin = "@ViewBag.fechaFin";
        var fechaInicioCorta = "@ViewBag.fechaInicioDefault";
        var fechaFinCorta = "@ViewBag.fechaFinDefault";
        var fechaFinDefault = new Date();
        var fechaInicioDefault = new Date(fechaFinDefault.getFullYear() - 1, fechaFinDefault.getMonth(), fechaFinDefault.getDate());

        $(document).ready(function () {
            if (stateFilterNumber != "") {
                document.getElementById(stateFilterNumber).classList.add("active");
                oldStateFilter = stateFilterNumber;
            }
            
            $('#aplicarFiltros').prop('disabled', true);
            $('#limpiarFiltros').hide();

            $('#maintable tr td:nth-child(n)').hover(function () {
                $(this).parents('tr').attr('title', 'Ver detalle');
            });

            if (fechaFinDefault.toLocaleDateString() != fechaFinCorta || fechaInicioDefault.toLocaleDateString() != fechaInicioCorta || stateFilterNumber != "") {
                $('#limpiarFiltros').show();
            }

            $.ajax({
                url: '@Url.Action("cantidadPedidosPorEstado", "Pedidos")',
                type: 'GET',
                data: { fechaI: fechaInicio.toString(), fechaF: fechaFin.toString(), hospital: document.getElementById("idHospital").value },
                cache: false,
                success: function (result) {

                    for (var i = 0; i < result.length; i++) {
                        $('#estado' + (i+1)).html(result[i]);
                    }
                }
            });

            $('#inicio').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
                onClose: function (selectedDate) {
                    $("#fin").datepicker("option", "minDate", selectedDate);
                },
                monthNamesShort: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                showMonthAfterYear: true,
                closeText: 'Cerrar',
                currentText: 'Hoy',
                showButtonPanel: true
            });

            $('#fin').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
                onClose: function (selectedDate) {
                    $("#inicio").datepicker("option", "maxDate", selectedDate);
                },
                monthNamesShort: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                showMonthAfterYear: true,
                closeText: 'Cerrar',
                currentText: 'Hoy',
                showMonthAfterYear: true
            });

            $(document).on('change', '#inicio', function (event) {
                if ($('#inicio').val() != fechaInicioCorta || $('#fin').val() != fechaFinCorta || stateFilterNumber != "") {
                    $('#aplicarFiltros').prop('disabled', false);
                } else {
                    $('#aplicarFiltros').prop('disabled', true);
                }
            });

            $(document).on('change', '#fin', function (event) {
                if ($('#fin').val() != fechaFinCorta || $('#inicio').val() != fechaInicioCorta || stateFilterNumber != "") {
                    $('#aplicarFiltros').prop('disabled', false);
                } else {
                    $('#aplicarFiltros').prop('disabled', true);
                }
            });

            $(document).on('click', '#aplicarFiltros', function (event)
            {
                event.preventDefault();
                var url = '@Url.Action("RespFarmacia", "Pedidos", new { fechaI = "START" , fechaF = "END" })';

                var desde = $("#inicio").val().toString();
                desde = desde.replace(/\//g, "%2F");

                var hasta = $("#fin").val().toString();
                hasta = hasta.replace(/\//g, "%2F");

                url = url.replace("START", desde.toString());
                url = url.replace("END", hasta.toString());
                url = url.replace("amp;", "");

                url = url.concat("&stateFilter=" + stateFilterNumber.toString());
                
                location.href = url;
            });

            $(document).on('click', '#limpiarFiltros', function (event)
            {
                event.preventDefault();
                var url = '@Url.Action("RespFarmacia", "Pedidos", new { fechaI = "START" , fechaF = "END" })';

                var desde = fechaInicioDefault.toLocaleDateString();
                desde = desde.replace(/\//g, "%2F");

                var hasta = fechaFinDefault.toLocaleDateString();
                hasta = hasta.replace(/\//g, "%2F");

                url = url.replace("START", desde.toString());
                url = url.replace("END", hasta.toString());
                url = url.replace("amp;", "");
                location.href = url;
            });

            $(document).on('click', '#nuevopedido', function (event) {
                event.preventDefault();
                Swal.fire({
                    title: 'Revisión de Stock',
                    text: "¿Desea actualizar el stock de Farmacia actual antes de realizar un pedido nuevo?",
                    icon: 'warning',
                    showCancelButton: true,
                    showCloseButton: true,
                    confirmButtonColor: "#28a745",
                    confirmButtonText: 'Continuar',
                    cancelButtonColor: "#dc3545",
                    cancelButtonText: 'Actualizar Stock',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                       var idHospital = $('#idHospital').val();
                       location.href = "/Pedidos/Create?idHospital=" + idHospital;
                      } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                         var idPedido = $('#idPedido').val();
                        var idHospital = $('#idHospital').val();
                        location.href = '/StockFarmacia/Index?hospitalId=' + idHospital + '&' + 'fromDashboard=' + false;
                      }
                })

            });

            sessionStorage.setItem("User", "RespFarmacia");
            if (@ViewBag.success.ToString().ToLower() ===true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'El pedido fue enviado exitosamente.'
                    }, {
                            type: 'success',
                            offset: {
                                x: 20,
                                y: 90
                            }
                        },
                    );

                }
                else {
                if (@ViewBag.validacion.ToString().ToLower()===true) {
                    $.notify({
                        title: '<strong>Aviso!</strong><br/>',
                        message: 'El pedido no fue enviado: @ViewBag.problem '
                    }, {
                            type: 'danger',
                            offset: {
                                x: 20,
                                y: 80
                            }
                        },
                    );
                }

            }

            var myNewURL = refineURL();
            //here you pass the new URL extension you want to appear after the domains '/'. Note that the previous identifiers or "query string" will be replaced.
            window.history.pushState("object or string", "Title", "/" + myNewURL);
            //Helper function to extract the URL between the last '/' and before '?'
            //If URL is www.example.com/one/two/file.php?user=55 this function will return 'file.php'
            //pseudo code: edit to match your URL settings
            function refineURL() {
                //get full URL
                var currURL = window.location.href; //get current address

                //Get the URL between what's after '/' and befor '?'
                //1- get URL after'/'
                var afterDomain = currURL.substring(currURL.lastIndexOf('/') + 1);
                //2- get the part before '?'
                var beforeQueryString = afterDomain.split("?")[0];

                return "Pedidos/"+beforeQueryString;
            }

            function moveScroll() {
                var scroll = $(window).scrollTop();
                var anchor_top = $("#maintable").offset().top;
                var anchor_bottom = $("#bottom_anchor").offset().top;
                if (scroll > anchor_top && scroll < anchor_bottom) {
                    clone_table = $("#clone");
                    if (clone_table.length == 0) {
                        clone_table = $("#maintable").clone();
                        clone_table.attr('id', 'clone');
                        clone_table.css({
                            position: 'fixed',
                            'pointer-events': 'none',
                            top: 0
                        });
                        clone_table.width($("#maintable").width());
                        $("#table-container").append(clone_table);
                        $("#clone").css({ visibility: 'hidden' });
                        $("#clone thead").css({ 'visibility': 'visible', 'pointer-events': 'auto' });

                    }
                } else {
                    $("#clone").remove();
                }
            }

            $(window).scroll(moveScroll);
            $("#clone").DataTable();
            table = $("#maintable").DataTable({
                "order": [[0, "desc"]],
                "oLanguage": { "sEmptyTable": "Aún no tiene pedidos realizados, o no se han encontrado pedidos para los filtros seleccionados." }
            });;
        });

        function stateFilter(stateNumber) {
            if (stateFilterNumber != stateNumber) {
                if (stateFilterNumber != "") {
                    var oldstate = stateFilterNumber;
                    document.getElementById(oldstate).classList.remove('active');
                }

                stateFilterNumber = stateNumber;
                document.getElementById(stateFilterNumber).classList.add("active");

                $('#aplicarFiltros').prop('disabled', false);
            } else if (stateNumber == stateFilterNumber) {
                document.getElementById(stateNumber).classList.remove('active');
                stateFilterNumber = "";

                if ($('#fin').val() == fechaFinCorta && $('#inicio').val() == fechaInicioCorta && oldStateFilter == stateFilterNumber) {
                    $('#aplicarFiltros').prop('disabled', true);
                }
            }
        }
    </script>
}
